{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}} {% if is_main_site %}-mainSite{% endif %}{% if is_milmanparry %}-milmanParry{% endif %}{% if is_newalexandria %}-alex{% endif %} -chs" data-template="base.twig">
<noscript class="noJavascriptMessage">
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
    }

    .noJavascriptMessage {
      align-items: center;
      display: flex;
      font-family: "Trueno", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
      justify-content: center;
      margin: 0;
      min-height: 100vh;
      padding: 0;
    }

    .noJavascriptMessage > div {
      max-width: 500px;
      padding: 20px;
      text-align: center;
    }

    .noJavascriptMessage svg {
      height: 100px;
      margin-bottom: 40px;
    }
  </style>
  <div>
    <svg width="150px" height="146px" viewbox="0 0 150 146" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path
        d="M75.016497,145.4 C31.816497,145.4 0.816497,113.2 0.816497,73.4 L0.816497,73 C0.816497,33.2 32.216497,0.6 75.416497,0.6 C118.616497,0.6 149.616497,32.8 149.616497,72.6 L149.616497,73 C149.616497,112.8 118.216497,145.4 75.016497,145.4 Z M75.416497,117 C100.216497,117 117.416497,97.4 117.416497,73.4 L117.416497,73 C117.416497,49 99.816497,29 75.016497,29 C50.216497,29 33.016497,48.6 33.016497,72.6 L33.016497,73 C33.016497,97 50.616497,117 75.416497,117 Z"
        id="O"
        fill="#000000"></path>
    </svg>
    <p>Enable JavaScript and refresh the page to view the Center for Hellenic Studies website.</p>
    <p>
      <a href="https://www.enable-javascript.com/" target="_blank">See how to enable JavaScript in your browser.</a>
    </p>
  </div>
</noscript>

<div id="root">
  <div>
    {% block header %}
      {% include 'partial/header.twig' with { header_dark: true }%}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
      {% if is_main_site %}
        {% include 'partial/main-site-footer.twig' %}
      {% else %}
        {% include 'partial/footer.twig' %}
      {% endif %}
    {% endblock %}
  </div>

  {% if show_feedback_chat %}
  	<div class="redesignFeedback -hidden">
  		<span>We're trying out a new look. 🎉 Let us know what you think! <a href="#" class="redesignDismiss">Hide.</a></span>
  	</div>
  {% endif %}
</div>

{{ function('wp_footer') }}


<script>
  window.__orpheus__ = window.__orpheus__ || {};
  window.__orpheus__.userId = "{{user.id}}";
  window.__orpheus__.username = "{{user.username}}";
  window.__orpheus__.displayName = "{{user.display_name}}";
  window.__orpheus__.userAvatar = "{{user.avatar|default('/wp-content/themes/orpheus/static/images/author_default.jpg')}}";
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script async="async" defer="defer" src="{{ site.theme.link }}/static/js/headroom.min.js"></script>
<script async="async" defer="defer" src="{{ site.theme.link }}/static/js/plax.js"></script>
<script async="async" defer="defer" src="{{ site.theme.link }}/static/js/sticky-sidebar.min.js"></script>
<script async="async" defer="defer" src="{{ site.theme.link }}/static/js/jquery.sticky-sidebar.min.js"></script>

<!-- Client side react assets -->
<!--
<script src="{{ site.theme.link }}/client/build/static/js/2.bundle.js"></script>
<script src="{{ site.theme.link }}/client/build/static/js/0.bundle.js"></script>
<script src="{{ site.theme.link }}/client/build/static/js/bundle.js"></script>
-->

<!-- Uncomment if running in dev mode -->
<!--
<script src="http://localhost:3000/static/js/main.bundle.js"></script>
<script src="http://localhost:3000/static/js/bundle.js"></script>
<script src="http://localhost:3000/static/js/0.bundle.js"></script>
-->

</body>
</html>
