<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />

    <meta name="description" content="{{site.description}}">

    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draft.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draft-js-inline-toolbar-plugin.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draft-js-mention-plugin.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draftjs-inline-toolbar.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draftjs.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/orpheus.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/annotations.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/chs.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/publications.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/chs-main.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/main-site-home.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/404.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/pages.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/custom.css" type="text/css" />
    {% if is_milmanparry %}
      <link rel="stylesheet" href="{{ site.theme.link }}/static/css/milmanparry.css" type="text/css" />
    {% endif %}
    {% if is_newalexandria %}
      <link rel="stylesheet" href="{{ site.theme.link }}/static/css/alex.css" type="text/css" />
    {% endif %}
    {% if is_ilexfoundation %}
      <link rel="stylesheet" href="{{ site.theme.link }}/static/css/ilex.css" type="text/css" />
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    {% if is_ilexfoundation %}
      <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/orpheus/static/images/apple-touch-icon-ilex.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/orpheus/static/images/favicon-ilex-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/orpheus/static/images/favicon-ilex-16x16.png">
      <link rel="manifest" href="/wp-content/themes/orpheus/static/images/site.webmanifest">
    {% else %}
      <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/orpheus/static/images/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/orpheus/static/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/orpheus/static/images/favicon-16x16.png">
      <link rel="manifest" href="/wp-content/themes/orpheus/static/images/site.webmanifest">
    {% endif  %}

    <meta name="theme-color" content="#000000">
    <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Cardo:300,400,700&subset=cyrillic,greek,latin-ext" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css">
    <script async defer="defer" src="https://www.googletagmanager.com/gtag/js?id=UA-36250260-17"></script>

    {% if 'classical-inquiries' in site.url %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124669028-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-124669028-1');
      </script>

    {% elseif 'research-bulletin' in site.url %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83607684-5"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-83607684-5');
      </script>
    {% else %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83607684-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-83607684-1');
      </script>
    {% endif %}


    <script async defer="defer" src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoZmCz1xYcNNa3XvFQeXkbafy-Gn6sp-0" type="text/javascript"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

    {{function('wp_head')}}
