{% extends "base.twig" %}

{% block content %}
  <div class="archive">

    {% include "partial/cover.twig" with {
      is_home : true,
      cover_caption: homepage.cover_caption
    } %}

    <section>
      {% include 'partial/list-horizontal.twig' with { list_title: "Collections", posts: collections, horizontal_scroll: true, with_meta: false } %}
    </section>

    <section>
      {% include "partial/archive-feature-block.twig" %}
    </section>

    <section>
      {% include "partial/media-block.twig" %}
    </section>

    <section class="-altBackground">
      <div class="publicationSectionInner">
        {% include 'partial/list-horizontal.twig' with { posts: books, list_title: "Publications of the Milman Parry Collection of Oral Literature", pubs_list: true, horizontal_scroll: true } %}
      </div>
    </section>

    {% include "partial/about-info.twig" %}
  </div>
{% endblock %}
