{% extends "base.twig" %}

{% block content %}
  <div class="archive">

    {% include "partial/cover.twig" with {
      is_home: true,
      title: "Promoting study of Mediterranean & Near Eastern Civilizations, and Beyond",
      subtitle: " ",
      cover_caption: homepage.cover_caption
    } %}

		<section class="introSection">
      <div class="recentNews">
         <div class="newsContainer">
            <h4 class="aboutTitle">News</h4>
            <h4 class="newsTitle"><a class="newsTitleLink" href="/welcome-to-the-new-ilex-site/">Welcome to the new Ilex Site!</a></h4>
         </div>
      </div>

			<div class="projectAbout">
				<div class="aboutColumnLeft">
					<h4 class="aboutTitle">Ilex Foundation</h4>
					<div class="introText">
						<p>
							The Foundation's emphasis on the study of cultural variation is reflected in the name Ilex as a symbol. In classical Latin, Ilex means "holm oak," that is, a kind of oak that happens to be evergreen - unlike other oaks in the Mediterranean climate - and that happens to look like holly (or "holm" in older English); in scientific or "Linnaean" Latin, ilex means "holly." The plant to which ilex refers is thus a variable, but the concept of the holm oak or the holly as an evergreen is a constant. That is the symbol of Ilex.
						</p>
					</div>
				</div>
				<div class="aboutColumnRight">
					<div class="aboutHomeImage" />
				</div>
			</div>

		</section>
		<section class="seriesSection">
			<div class="seriesIntroContainer">
				<div class="seriesTitle">
					<h4 class="aboutTitle">ILEX SERIES</h4>
				</div>
				<div class="seriesDesc">
					<p>Promoting research and publications on general and comparative literacy and social studies on the civilizations of the Mediterranean and the Near East. <a to="/publications" class="newsTitleLink">See all online & print publications</a></p>
				</div>
			</div>
			<div class="seriesContainer">
				<FeaturedItemsContainer />
			</div>
		</section>

    <section class="mainSection -fullWidth -ilexPubsBackground">
      <div class="publicationSectionInner">
        {% include 'partial/list-horizontal.twig' with { posts: publications, list_title: "Publications", more_link: "/publications", pubs_list: true, horizontal_scroll: true } %}
      </div>
      <div class="sectionBorder designBorder"></div>
    </section>

  </div>
{% endblock %}
