{% extends "base.twig" %}

{% block content %}
  <div class="archive ">

    {% include "partial/cover.twig" with {
      is_home : true,
      cover_caption: homepage.cover_caption
    } %}

    <div class="post -withSidebar homeWithSidebar">
      <main class="archiveContent articleContent ">
        {% include 'partial/list-vertical.twig' with { condensed : true, with_action_links: true } %}

        <br >
        <div class="moreFromOptions">
          <div class="moreFrom -accent">
            <a href="/archive/">
              MORE STORIES
            </a>
          </div>
          <div class="moreFrom ">
            <a href="/archive">
              MORE LESSON PLANS
            </a>
          </div>
          <div class="moreFrom ">
            <a href="/archive/">
              MORE INSCRIPTIONS
            </a>
          </div>
        </div>

      </main>
      {% include 'partial/sidebar.twig' %}
    </div>

    <section class="-altBackground">
      <div class="publicationSectionInner">
        {% include 'partial/list-horizontal.twig' with { posts: inscriptions, list_title: "Featured Inscriptions", more_link: "/", horizontal_scroll: true } %}
      </div>
    </section>

  </div>
{% endblock %}
