{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="archive">

    <section class="mainSection -withSidebar -coverSection">
      <div class="sectionContent">

        <div class="mainHero -layout{{homepage.hero_layout}}">
          {% if homepage.hero_text_headline_link %}
            <a href="/">
  						<div class="featureImageOuter">
                {% if homepage.thumbnail %}
                  <div class="featureImage heroImage" style="background-image: url(&quot;{{homepage.thumbnail.src}}&quot;);"></div>
                {% else %}
                  <div class="featureImage heroImage" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_1.jpg&quot;);"></div>
                {% endif %}
  							<div class="featureImageGradient"></div>
  						</div>
            </a>
          {% else %}
  						<div class="featureImageOuter">
                {% if homepage.thumbnail %}
                  <div class="featureImage heroImage" style="background-image: url(&quot;{{homepage.thumbnail.src}}&quot;);"></div>
                {% else %}
                  <div class="featureImage heroImage" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_1.jpg&quot;);"></div>
                {% endif %}
  							<div class="featureImageGradient"></div>
  						</div>
          {% endif %}
          <div class="heroText">
            {% if homepage.hero_text_headline %}
              {% if homepage.hero_text_headline_link %}
                <a href="{{homepage.hero_text_headline_link}}">
                  <h1>
                    {{homepage.hero_text_headline}}
                  </h1>
                </a>
              {% else %}
                <h1>
                  {{homepage.hero_text_headline}}
                </h1>
              {% endif %}
            {% endif %}
            {% if homepage.hero_text_description %}
              <p>
                {{homepage.hero_text_description}}
              </p>
            {% endif %}
          </div>
        </div>

        {% if homepage.featured_posts|length > 0 %}
          <div class="heroFeatures -length{{homepage.featured_posts|length}}">
            {% for post in Post(homepage.featured_posts ) %}
              {% include 'partial/hero-feature.twig' %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% include 'partial/main-sidebar.twig' with { sidebar_posts: news_posts }%}

    </section>

    <section class="mainSection -fullWidth">
      <div class="featureBlock -mega -chsGreeceFeature">
        <a href="https://greece.chs.harvard.edu">
          <div class="featureImage featureBlockBackground" style="background-image:url('/wp-content/themes/orpheus/static/images/center-for-hellenic-studies-greece-napflion.jpg')"></div>
          <div class="featureBlockGradient"></div>
          <div class="featureBlockText">
            <h2>
              The Center for Hellenic Studies in Greece 🇬🇷
            </h2>
            <p>
              A Harvard International Center that unites the humanistic pursuits of the CHS with the homeland of Hellenism.
            </p>
            <div
              class="chsButton -accentButton -emailButton"
              href="http://visitor.r20.constantcontact.com/manage/optin?v=001WY2H_3RLHWrziPseq0LB2Z4OTcMozSH9ubyGTxbAPk0_iNT07ezDVnHe2NRAOanD8HOs7fCZz7Vu3-O1-cXqoBHyJTCtlKQ8BX0Iy82KJKj7pxUEvhExXv3oxOUU2ZknQHQgZAGKB4TV9TBAV4sjz71YzaJKuUO9neY_1hUhsXVuHfqO7zF7aaGUPzhSFlwwy7QGNdil7vLZEO-f7HBlbA%3D%3D">
              Learn more
            </div>
          </div>
        </a>
      </div>
    </section>

    <section class="mainSection -fullWidth">
      <div class="visitSection">
        <iframe src="https://my.matterport.com/show/?m=Zp9oGbSgowf" allowfullscreen></iframe>
        <div class="visitSectionText">
          <h3>Virtual Tour</h3>
          <p>Due to the pandemic, the Center will remain closed to the public for the duration of the spring semester. Tour the main building and the library virtually.</p>
        </div>
      </div>
    </section>

    <section class="mainSection -withSidebar">
      <div class="sectionContent">
        <div class="tabs">
          <h3 class="tab -active" data-tabname="recent">Recent</h3>
          <h3 class="tab" data-tabname="trending">Trending</h3>
        </div>
        <div class="homepageContentFeed -feed-recent">
          {% include 'partial/list-vertical.twig' with { condensed: true, hide_after_first_five: true } %}
          {% include 'partial/more-from-options.twig' %}
        </div>
        <div class="homepageContentFeed -feed-trending -hidden">
          {% include 'partial/list-vertical.twig' with { posts: posts_trending, condensed : true, hide_after_first_five: true  } %}
          {% include 'partial/more-from-options.twig' %}
        </div>
      </div>

      {% include 'partial/main-sidebar-secondary.twig' %}
    </section>

    <section class="mainSection -fullWidth -altBackground">
      <div class="publicationSectionInner">
        {% include 'partial/list-horizontal.twig' with { posts: publications, list_title: "Hellenic Studies Series", more_link: "/publications", pubs_list: true, horizontal_scroll: true } %}
      </div>
      <div class="sectionBorder designBorder"></div>
    </section>

    <section class="mainSection -fullWidth">
			<div class="getInvolved">
	      {% include 'partial/list-horizontal.twig' with { posts: Post(homepage.featured_programs), list_title: "Featured Programs", more_link: "/programs", default_images: false } %}
			</div>
    </section>

    <section class="mainSection -fullWidth -signUpSection">
      <div class="signUpCallToAction">
        <div class="signUpBackground">
					<img class="illustration background" src="/wp-content/themes/orpheus/static/images/illustration_lighthouse.png" />
					<img class="illustration foreground" src="/wp-content/themes/orpheus/static/images/illustration_nike.png" />
					<img class="illustration middle" src="/wp-content/themes/orpheus/static/images/illustration_medusa.png" />
				</div>
        <div class="signUpText">
          <h3>Stay in touch with updates from the Center for Hellenic Studies</h3>
          <p>
            Keep informed about upcoming fellowships and events at the CHS by signing up for one of our newsletters and joining the community
          </p>
          <a
            class="chsButton -accentButton -emailButton"
            href="http://visitor.r20.constantcontact.com/manage/optin?v=001WY2H_3RLHWrziPseq0LB2Z4OTcMozSH9ubyGTxbAPk0_iNT07ezDVnHe2NRAOanD8HOs7fCZz7Vu3-O1-cXqoBHyJTCtlKQ8BX0Iy82KJKj7pxUEvhExXv3oxOUU2ZknQHQgZAGKB4TV9TBAV4sjz71YzaJKuUO9neY_1hUhsXVuHfqO7zF7aaGUPzhSFlwwy7QGNdil7vLZEO-f7HBlbA%3D%3D">
            <i class="mdi mdi-email"></i>
            Sign up now
          </a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
