{% extends "base.twig" %}

{% block content %}
<div class="archive">

	{% include "partial/cover.twig" with { is_home: true, cover_caption: homepage.cover_caption } %}

	<section class="featuredSection">
		{% include 'partial/categories-menu.twig' %}
		{% include 'partial/list-horizontal.twig' with { category: 'art-archaeology', posts: posts_art_architecture, 'more_from': true } %}
		{% include 'partial/list-horizontal.twig' with { category: 'epigraphy-papyrology', posts: posts_epigraphy_papyrology, 'more_from': true } %}
		{% include 'partial/list-horizontal.twig' with { category: 'history', posts: posts_history, 'more_from': true } %}
		{% include 'partial/list-horizontal.twig' with { category: 'language-literature', posts: posts_language_literature, 'more_from': true } %}
		{% include 'partial/list-horizontal.twig' with { category: 'mythology-religion', posts: posts_mythology_religion, 'more_from': true } %}
		{% include 'partial/list-horizontal.twig' with { category: 'philosophy', posts: posts_philosophy_science, 'more_from': true } %}
	</section>

	<section class="-altBackground volumesSection">
		{% include 'partial/volumes-menu.twig' %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_9", posts: posts_volumes_9, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_8", posts: posts_volumes_8, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_7", posts: posts_volumes_7, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_6", posts: posts_volumes_6, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_5", posts: posts_volumes_5, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_4", posts: posts_volumes_4, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_3", posts: posts_volumes_3, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_2", posts: posts_volumes_2, horizontal_scroll: true } %}
		{% include 'partial/list-horizontal.twig' with { condensed: true, volume: "volume_1", posts: posts_volumes_1, horizontal_scroll: true } %}
    <div class="moreFrom -accent">
    	<a href="/e-journal-archives/">
				Browse all Volumes
    	</a>
    </div>
    <br >
    <br >
    <br >
    <br >
	</section>

</div>
{% endblock %}
