{% extends "base.twig" %}

{% block content %}
  <div class="archive">

    {% include "partial/cover.twig" with {
      is_home: true,
      title: "Using technology, we rebuild the ancient world anew",
      subtitle: " ",
      cover_caption: homepage.cover_caption
    } %}

    <section>
      <div class="postsHeader">
        <h3>Our Manifesto</h3>
      </div>
      <div class="beliefs">
        {% for belief in homepage.beliefs %}
          <div class="belief">
            <h3>
              {% if Post(belief).icon_code %}
                <i class="mdi mdi-{{Post(belief).icon_code}}"></i>
              {% endif %}
              {{Post(belief).title}}
            </h3>
            <p>
              {{Post(belief).preview.read_more(false)}}
            </p>
          </div>
        {% endfor %}
      </div>
    </section>

    <section>
      {% include 'partial/list-horizontal.twig' with { list_title: "Projects", posts: projects, horizontal_scroll: true, with_meta: false } %}
    </section>

    <section>
      {% include "partial/media-block.twig" %}
    </section>

  </div>
{% endblock %}
