{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="publications publicationsLayout">
    {% include 'partial/publications-sidebar.twig' %}

    <main class="publicationsContent">
      <div class="featuredPublication">
        <div class="featuredPublicationContent">
          <div class="featuredFlag">
            <label>Featured Text</label>
          </div>
          <a href="/book/sowers-brian-p-in-her-own-words-the-life-and-poetry-of-aelia-eudocia/">
            <h2 class="h2">
              {% if condensed %}
                {{post.title| excerpt(9)}}
              {% else %}
                {{post.title| excerpt(12)}}
              {% endif %}
              In Her Own Words: The Life and Poetry of Aelia Eudocia
            </h2>
          </a>
          <div class="postMeta">
            <span class="byline">
              <a href="/authors/brian-p-sowers">
                {% if post.author_first_name %}
                  {{post.author_first_name}}
                  {{post.author_last_name}}
                {% else %}
                  {{post.author}}
                {% endif %}
                Brian Sowers
              </a>
            </span>
            {% include 'partial/description-read-more.twig' with { description: "In Her Own Words: The Life and Poetry of Aelia Eudocia is the first full-length study to examine Eudocia’s writings as a unified whole and to situate them within their wider fifth-century literary, social, and religious contexts. Responsible for over 3,000 lines of extant poetry, Eudocia is one of the best-preserved ancient female poets. Because she wrote in a literary mode frequently suppressed by proto-orthodox (male) leaders, much of her poetry does not survive, and what does survive remains understudied and underappreciated. This book represents a detailed investigation into Eudocia’s works: her epigraphic poem in honor of the therapeutic bath at Hammat Gader, her Homeric cento—a poetic paraphrase of the Bible using lines from Homer—and her epic on the fictional magician-turned-Christian, Cyprian of Antioch. Reading her poetry as a whole and in context, Eudocia emerges as an exceptional author representing three unique late-antique communities: poets interested in preserving and transforming classical literature; Christians whose religious views positioned them outside and against traditional power structures; and women who challenged social, religious, and literary boundaries." } %}
          </div>
          <div class="bookHeroActionButtons bookActionButtons">
            <a href="/read/sowers-brian-p-in-her-own-words-the-life-and-poetry-of-aelia-eudocia/" class="chsButton -accentButton">
              Read Now
            </a>
            {% if user %}
              <a href="#" class="chsButton -bookButton -saveButton
                {% if book_is_saved %}
                  -bookIsSaved
                {% endif %}
              ">
            {% else %}
              <a href="/wp-login.php?redirect_to=/book/{{post.slug}}" class="chsButton -bookButton -saveButton">
            {% endif %}
              <i class="mdi mdi-bookmark-outline"></i>
              <i class="mdi mdi-bookmark"></i>
              <span class="saveButtonText">
                {% if book_is_saved %}
                  Saved
                {% else %}
                  Save
                {% endif  %}
              </span>
            </a>
            <div id="bookID" data-id="172775"></div>
          </div>
          <div class="moreFromSection">
            <span>
              More from
              <a href="/category/publications/books-publications/hellenic-studies-series/">Hellenic Studies Series</a>,
              <a href="/tag/criticism">Criticism</a>,
              <a href="/authors/brian-p-sowers">Brian Sowers</a>.
            </span>
          </div>
        </div>
        <div class="featuredPublicationImage">
          <a href="/read/sowers-brian-p-2020-in-her-own-words-the-life-and-poetry-of-aelia-eudocia/">
            <img src="/wp-content/uploads/2020/11/9780674987371-lg.jpg"/>
          </a>
        </div>

        <div class="featuredPublicationBorder designBorder"></div>
      </div>

      {% include 'partial/list-horizontal.twig' with { posts: hellenic_studies_books, horizontal_scroll: true, list_title: "Hellenic Studies Series", more_link: "/category/hellenic-studies-series", pubs_list: true } %}

      {% include 'partial/list-horizontal.twig' with { posts: curated_books, horizontal_scroll: true, list_title: "Curated Books", more_link: "/category/curated-books", pubs_list: true } %}

      {% include 'partial/list-horizontal.twig' with { posts: milman_parry_books, horizontal_scroll: true, list_title: "Milman Parry Collection of Oral Literature Series", more_link: "/category/milman-parry-collection-of-oral-literature-series", pubs_list: true } %}


			<div class="moreTopics">
				<h4>
					Browse more from these topics:
				</h4>
				<div class="moreTopicsLinks">
					{% for tag in tags %}
	          <a href="{{tag.link}}" class="chsButton -termButton">
							{{tag.title|truncate(5)}}
	          </a>
					{% endfor %}

				</div>
				<a href="/books/categories">
					Show more
				</a>
			</div>

    </main>

  </div>
{% endblock %}
