{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="publications publicationsLayout">
    {% include 'partial/publications-sidebar.twig' %}

    <main class="publicationsContent">

      {% include 'partial/books-nav.twig' %}

      <div class="booksList">
        <h2 id="saved" class="booksSectionHeader">Saved Books</h2>
        {% if saved_books and saved_books|length %}
          {% include 'partial/list-horizontal.twig' with { posts: saved_books, wrap_list: true, pubs_list: true } %}
        {% else %}
          <div class="noResults -savedBooksNoResults">
            <p>
              You have not saved any books. Get started by checking out a <a href="/books">book</a> and saving one.
            </p>
          </div>
        {% endif %}
      </div>
    </main>

  </div>
{% endblock %}
