{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="archive archiveLayout">
    <main class="archiveContent">
      <div class="contributors">
        <h1 class="h1">
          Contributors
        </h1>
        <div class="contributorsSubnav">
          <a href="#a-e" class="labelCaps">A-F</a>
          <a href="#f-j" class="labelCaps">F-J</a>
          <a href="#k-o" class="labelCaps">K-O</a>
          <a href="#p-t" class="labelCaps">P-T</a>
          <a href="#u-z" class="labelCaps">U-Z</a>
        </div>
      </div>
			<div class="posts -verticalList ">
				{% for user in users %}
          <a href="/contributor/{{user.username}}" class="contributor">{{user.first_name}} {{user.last_name}}</a>
				{% endfor %}
			</div>

    </main>

		<div class="archiveSidebar">
	    {% include 'partial/sidebar.twig' %}
		</div>
  </div>
  <!-- mfunc wpb_set_post_views($post_id); -->
  <!-- /mfunc -->
{% endblock %}
