{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    <article class="postType-{{post.post_type}} post -article" id="post-{{post.ID}}">
      <section class="articleContent -articleContentWithSidebar">

        {% if post.meta.attachments %}
          <div id="PostView"></div>
        {% endif %}

        <div class="postHead">
          <h1 class="articleH1">{{post.title}}</h1>

          {% if post.subtitle %}
            <h3>{{post.subtitle}}</h3>
          {% endif %}

          {% if subnav %}
            {% include 'partial/subnav.twig' %}
          {% endif %}

        </div>
        <div class="articleBody postSection postContent">
          {% if post.citation %}
            <div class="postContentInner ">
              <div class="postCitation">
                <p>
                  <label>Citation:</label>
                  &nbsp;
                  {{post.citation}}
                </p>
              </div>
              <hr class="postContentDivider"></hr>
            </div>
          {% endif %}
          <div class="postContentInner -withSidebar">
            {% include 'partial/sidebar.twig' %}
            <div class="contentMain">
              {{post.content}}
              <br>
              <hr/>
              <br>
              {% include 'partial/cats-tags.twig' %}
            </div>
          </div>
        </div>
      </section>
    </article>

    <script>
      window.__orpheus__ = window.__orpheus__ || {};
      window.__orpheus__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
    </script>

  </div>
  <!-- /content-wrapper -->
{% endblock %}
