{% extends "base.twig" %}

{% block content %}
<div class="archive content-wrapper page">

	{% include "partial/cover.twig" with { title: "Classics@",  } %}

  <article class="post postType-{{post.post_type}} -blog -withSidebar" id="post-{{post.ID}}">
    <section id="main" class="articleContent contentMain">
			<p>
				Classics@ (ISSN: 2327-2996) is designed to bring contemporary classical scholarship to a wide audience online. Each issue will be dedicated to its own topic, often with guest editors, for an in-depth exploration of important current problems in the field of Classics. We hope that Classics@ will appeal not only to professional classicists, but also to the intellectually curious who are willing to enter the conversation in our discipline. We hope that they find that classical scholarship engages issues of great significance to a wide range of cultural and scholarly concerns and does so in a rigorous and challenging way.
			</p><p>
				Each issue of Classics@ is meant to be not static but dynamic, continuing to evolve with interaction from its readers as participants. New issues will appear when the editors think there is good material to offer. Often it will emphasize work done in and through the Center for Hellenic Studies, but it will also call attention to fresh and interesting work presented elsewhere on the web. It stresses the importance of research-in-progress, encouraging collegial debate (while discouraging polemics for the sake of polemics) as well as the timely sharing of important new information.
			</p><p>
				The CHS welcomes proposals for future issues of Classics@. Proposal forms should be completed and sent via e-mail to Classics@ Managing Editor Keith DeStone (kdestone(at)chs.harvard.edu). Please see the CHS Prospective Authors page for style guidelines and templates. Download the proposal form here.
			</p><p>
				For information about FirstDrafts, an effort to disseminate drafts prior to publication, see below.
			</p><p>
				Executive Editors: Casey Dué and Mary Ebbott
				Managing Editor: Keith DeStone
			</p>
		</section>
	</article>


	{% include 'partial/list-horizontal.twig' with { list_title: "Issue 17", category: 'classics', posts: posts_classics_17, horizontal_scroll: true, default_images: true } %}
	{% include 'partial/list-horizontal.twig' with { list_title: "Issue 16", category: 'classics', posts: posts_classics_16, horizontal_scroll: true, default_images: true } %}
	{% include 'partial/list-horizontal.twig' with { list_title: "Issue 15", category: 'classics', posts: posts_classics_15, horizontal_scroll: true, default_images: true } %}
	{% include 'partial/list-horizontal.twig' with { list_title: "Issue 14", category: 'classics', posts: posts_classics_14, horizontal_scroll: true, default_images: true } %}
	{% include 'partial/list-horizontal.twig' with { list_title: "Issue 13", category: 'classics', posts: posts_classics_13, horizontal_scroll: true, default_images: true } %}
	{% include 'partial/list-horizontal.twig' with { list_title: "Issue 12", category: 'classics', posts: posts_classics_12, horizontal_scroll: true, default_images: true } %}

	<div class="olderIssues -hidden">
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 11", category: 'classics', posts: posts_classics_11, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 10", category: 'classics', posts: posts_classics_10, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 9", category: 'classics', posts: posts_classics_9, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 8", category: 'classics', posts: posts_classics_8, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 7", category: 'classics', posts: posts_classics_7, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 6", category: 'classics', posts: posts_classics_6, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 5", category: 'classics', posts: posts_classics_5, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 4", category: 'classics', posts: posts_classics_4, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 3", category: 'classics', posts: posts_classics_3, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 2", category: 'classics', posts: posts_classics_2, horizontal_scroll: true, default_images: true } %}
		{% include 'partial/list-horizontal.twig' with { list_title: "Issue 1", category: 'classics', posts: posts_classics_1, horizontal_scroll: true, default_images: true } %}

	</div>

  <div class="moreFrom -accent">
  	<a href="#" class="showMoreClassicsAtIssues">
			Older issues
  	</a>
  </div>

  <article class="post postType-{{post.post_type}} -blog -withSidebar" >
	  <section class="articleContent contentMain classicsAtSecondary">
			<h3>
					Firstdrafts@Classics@
			</h3>
			<p>
				Firstdrafts@Classics@ is intended to give early exposure to creative scholarship before its formal publication. Please check regularly for new contributions and updates on ways to provide feedback to authors.
			</p>
		</section>
	</article>

</div>
{% endblock %}
