{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : true
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    {% include "partial/cover.twig" with {
      title : post.title,
      subtitle: post.subtitle,
      with_post_meta: false,
      image: post.thumbnail.src
    } %}

    <article class="post postType-{{post.post_type}} -blog -withSidebar -page" id="post-{{post.ID}}">
      <section id="main" class="articleContent contentMain">
        {{post.content}}
        <br>
        <h3>Our Board</h3>
        <div class="boardMembers">
          {% for member in post.board_members %}
            <div class="boardMember">
              {% if Post(member).thumbnail and Post(member).thumbnail.src %}
                <img src="{{Post(member).thumbnail.src}}" />
              {% endif %}
              <h3>
                {{Post(member).title}}
              </h3>
              <p>
                {{Post(member).role}}
              </p>
            </div>
          {% endfor %}
        </div>
      </section>
      {% include 'partial/sidebar.twig' %}
    </article>
    <script>
      window.__orpheus__ = window.__orpheus__ || {};
      window.__orpheus__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
    </script>

  </div>
  <!-- /content-wrapper -->
{% endblock %}
