{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : true
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page -ilexBooksPage">
    {% include "partial/cover.twig" with {
      title: post.title,
      subtitle: post.subtitle,
      image: "/wp-content/themes/orpheus/static/images/ilexPubBackground.png"
    } %}
    <article class="post postType-{{post.post_type}} -blog -withSidebar -page" id="post-{{post.ID}}">
      <section id="main" class="articleContent contentMain">
        {{post.content}}
      </section>
    </article>
  </div>
  <div class="publications publicationsLayout">

    <main class="publicationsContent">
      {% for post in books %}
        {% include 'partial/tease-ilex-book.twig' %}
      {% endfor %}
    </main>

  </div>
{% endblock %}
