{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : true
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    {% include "partial/cover.twig" with {
      title : post.title,
      subtitle: post.subtitle,
      with_post_meta: true,
      image: post.thumbnail.src
      dateline: post.dateline
    } %}

    <article class="post postType-{{post.post_type}} -blog -withSidebar" id="post-{{post.ID}}">
      <section id="main" class="articleContent contentMain">
        {{post.content}}
        <br>
        <hr/>

        {% include 'partial/cats-tags.twig' %}

        {% if function('comments_open') %}
          <div id="comments" class="comments">
            {{ function('comments_template') }}
          </div>
        {% endif %}
      </section>
      {% include 'partial/sidebar.twig' %}
    </article>
    <script>
      window.__orpheus__ = window.__orpheus__ || {};
      window.__orpheus__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
    </script>

    <!--div id="Annotations">
      <p class="annotationsLoadingMessage">Annotations loading . . .
      </p>
    </div-->
  </div>
  <!-- /content-wrapper -->
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
