{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="archive archiveLayout">
    <main class="archiveContent">
      <div class="book -bookAuthor">
        <div class="bookLeftColumn">
          <img class="authorImage" src="/wp-content/themes/orpheus/static/images/gregory-nagy.jpg"/>
        </div>
        <div class="bookContent">
          <h1 class="h1">
            {% if condensed %}
              {{post.title| excerpt(9)}}
            {% else %}
              {{post.title| excerpt(12)}}
            {% endif %}
            Gregory Nagy
          </h1>
          <div class="postMeta">
            <p class="description">
              {{post.preview.read_more(False)}}
              Nagy's special research interests include archaic Greek literature and oral traditions. His ongoing goal is to integrate his research with collaborative as well as intergenerational mentorships and public engagement initiatives, especially in the
              context of his Harvard College and Harvard DCE courses on the ancient Greek hero (with almost 10,000 alumni), and his HarvardX MOOC, which has enrolled over 90,000 learners since its launch in 2013. His recent monographs include The Ancient Greek
              Hero in 24 Hours (HUP 2013) and Masterpieces of Metonymy: From Ancient Greek Times to Now (HUP, fall 2015).Since 2000, he has been the Director of the Harvard Center for Hellenic Studies in Washington DC, while continuing to teach at the Harvard
              campus in Cambridge as the Francis Jones Professor of Classical Greek Literature and Professor of Comparative Literature.
            </p>
          </div>
        </div>
      </div>
			<div class="posts -verticalList ">
				{% for post in posts %}
					{% include "partial/tease-full.twig" with { condensed : true } %}
				{% endfor %}
			</div>

    	{% include 'partial/pagination.twig' %}

      <div class="moreTopics">
        <label>Top issues for Greg</label>
        <div class="moreTopicsLinks">
          {% for tag in tags %}
            <a href="{{tag.link}}" class="chsButton -termButton">
              {{tag.title|truncate(5)}}
            </a>
          {% endfor %}
        </div>
      </div>
    </main>

		<div class="archiveSidebar">
	    {% include 'partial/sidebar.twig' %}
		</div>
  </div>
  <!-- mfunc wpb_set_post_views($post_id); -->
  <!-- /mfunc -->
{% endblock %}
