{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="publications publicationsLayout">
    {% include 'partial/publications-sidebar.twig' %}

    <main class="publicationsContent">
      <div class="book">
        <div class="bookLeftColumn">
          <a href="/read/{{post.slug}}/">
            <img src="{{post.thumbnail.src}}"/>
          </a>
          <div class="bookActionButtons">
            {% if post.epub %}
              <a href="/read/{{post.slug}}/" class="chsButton -accentButton -readButton">
                <i class="mdi mdi-book-open-blank-variant"></i>
                Read Now
              </a>
            {% elseif post.pdf %}
              <a href="{{Image(post.pdf).src}}" class="chsButton -accentButton  -readButton">
                <i class="mdi mdi-file-pdf-outline"></i>
                Read Now
              </a>
            {% endif %}
            {% if user %}
              <a href="#" class="chsButton -bookButton -saveButton
                {% if book_is_saved %}
                  -bookIsSaved
                {% endif %}
              ">
            {% else %}
              <a href="/wp-login.php?redirect_to=/book/{{post.slug}}" class="chsButton -bookButton">
            {% endif %}
              <i class="mdi mdi-bookmark-outline"></i>
              <i class="mdi mdi-bookmark"></i>
              <span class="saveButtonText">
                {% if book_is_saved %}
                  Saved
                {% else %}
                  Save
                {% endif  %}
              </span>
            </a>
            <div class="shareButtonOuter">
              <a href="#" class="chsButton -bookButton -shareButton">
                <i class="mdi mdi-share"></i>
                Share
              </a>
              {% include  'partial/book-share-links.twig' %}
            </div>

            {% if read_as_webpage_url %}
              <a href="{{read_as_webpage_url}}" class="chsButton -bookButton">
                <i class="mdi mdi-file-document"></i>
                Read as webpage
              </a>
            {% endif %}
          </div>
        </div>
        <div class="bookContent">
          <h1 class="h1">
            {{post.title}}
          </h1>
          <div class="postMeta">
            <span class="byline">
              {% for author in post.terms( {query:{taxonomy:'author', orderby:'name', order: 'ASC'}} ) %}
                <a href="/authors/{{author.slug}}">
                  {{author.name}}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </span>

            {% include 'partial/description-read-more.twig' with { description: post.content }%}

            <br>

            {% if post.collection_description %}
              <p class="description collectionDescription">
                {{post.collection_description}}
              </p>
            {% endif %}

            <br>

            <label>Cite this work</label>
            <p class="citation">
              {{post.citation}}
            </p>

            <br>
            {% include 'partial/cats-tags.twig' %}
          </div>
        </div>

      </div>


      {% if authors_books %}
        {% include 'partial/list-horizontal.twig' with { posts: authors_books, horizontal_scroll: true, list_title: "More from this author", more_link: "/category/books", pubs_list: true } %}
      {% endif %}


      {% for category_books in categories_books %}
        {% include 'partial/list-horizontal.twig' with { posts: category_books.books, horizontal_scroll: true, list_title: category_books.list_title, more_link: category_books.more_link, pubs_list: true } %}
      {% endfor %}

      {% for tag_books in tags_books %}
        {% include 'partial/list-horizontal.twig' with { posts: tag_books.books, horizontal_scroll: true, list_title: tag_books.list_title, more_link: tag_books.more_link, pubs_list: true } %}
      {% endfor %}

      <div class="moreTopics">
        <h4>
          Browse more from these topics
        </h4>
        <div class="moreTopicsLinks">
          {% for tag in tags %}
            <a href="{{tag.link}}" class="chsButton -termButton">
              {{tag.title|truncate(5)}}
            </a>
          {% endfor %}

        </div>
        <a href="/publications">
          Show more
        </a>
      </div>
    </main>

  </div>
  <div id="bookID" data-id="{{post.id}}"></div>
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
