{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : true
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page -bookPage">
    {% include "partial/cover.twig" with {
      title : " ",
      image: "/wp-content/themes/orpheus/static/images/ilexPubBackground.png"
    } %}
  </div>
  <div class="publications publicationsLayout">

    <main class="publicationsContent">
      <div class="book">
        <div class="bookLeftColumn">
          <a href="/read/{{post.slug}}/">
            <img src="{{post.thumbnail.src}}"/>
          </a>
          <div class="bookActionButtons">
            {% if post.epub %}
              <a href="/read/{{post.slug}}/" class="chsButton -accentButton -readButton">
                Read Now
                <i class="mdi mdi-book-open-blank-variant"></i>
              </a>
            {% elseif post.pdf %}
              <a href="{{Image(post.pdf).src}}" class="chsButton -accentButton  -readButton">
                Read Now
                <i class="mdi mdi-file-pdf-outline"></i>
              </a>
            {% endif %}
            <a href="/coming-soon" class="chsButton -bookButton">
              <i class="mdi mdi-bookmark-outline"></i>
              <i class="mdi mdi-bookmark"></i>
              Save
            </a>
            <a href="/coming-soon" class="chsButton -bookButton">
              <i class="mdi mdi-share"></i>
              Share
            </a>
          </div>
        </div>
        <div class="bookContent">
          <h1 class="h1">
            {{post.title}}
          </h1>
          <div class="postMeta">
            <span class="byline">
              {% for author in post.terms( {query:{taxonomy:'author', orderby:'name', order: 'ASC'}} ) %}
                <a href="/authors/{{author.slug}}">
                  {{author.name}}
                </a>
              {% endfor %}
            </span>

            {% include 'partial/description-read-more.twig' with { description: post.content }%}

            <br>

            {% if post.collection_description %}
              <p class="description collectionDescription">
                {{post.collection_description}}
              </p>
            {% endif %}

            <br>

            <label>Cite this work</label>
            <p class="citation">
              {{post.citation}}
            </p>

            <br>
            {% include 'partial/cats-tags.twig' %}
          </div>
        </div>

      </div>


      {% if authors_books %}
        {% include 'partial/list-horizontal.twig' with { posts: authors_books, horizontal_scroll: true, list_title: "More from this author", more_link: "/category/books", pubs_list: true } %}
      {% endif %}


      {% for category_books in categories_books %}
        {% include 'partial/list-horizontal.twig' with { posts: category_books.books, horizontal_scroll: true, list_title: category_books.list_title, more_link: category_books.more_link, pubs_list: true } %}
      {% endfor %}

      {% for tag_books in tags_books %}
        {% include 'partial/list-horizontal.twig' with { posts: tag_books.books, horizontal_scroll: true, list_title: tag_books.list_title, more_link: tag_books.more_link, pubs_list: true } %}
      {% endfor %}

      <div class="moreTopics">
        <h4>
          Browse more from these topics
        </h4>
        <div class="moreTopicsLinks">
          {% for tag in tags %}
            <a href="{{tag.link}}" class="chsButton -termButton">
              {{tag.title|truncate(5)}}
            </a>
          {% endfor %}

        </div>
        <a href="/publications">
          Show more
        </a>
      </div>
    </main>

  </div>
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
