{% extends "base.twig" %}

{% block header %}
  {# {% include 'partial/reading-header.twig' with {
    header_dark : false
  } %} #}
{% endblock %}

{% block content %}
  <div id="ReadingEnvironment">
    <p class="annotationsLoadingMessage"></p>
  </div>

  <script>
  </script>

  <script>
    window.__orpheus__ = window.__orpheus__ || {};
    window.__orpheus__.ePubUrl= "{{Image(post.epub).src}}";
    window.__orpheus__.ePubTitle= "{{post.title}}";
    window.__orpheus__.ePubSlug = "{{post.slug}}";
    window.__orpheus__.bookIsSaved = "{{book_is_saved}}";
  </script>

  <div id="bookID" data-id="{{post.id}}"></div>
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
{% block footer %}
{% endblock %}
