{% extends "base.twig" %}
{% block header %}
	{% include 'partial/header.twig' with { header_dark: true } %}
{% endblock %}

{% block content %}
	<div class="content-wrapper page">
		{% include "partial/cover.twig" with { title: post.title, subtitle: post.subtitle, with_post_meta: true, image: post.thumbnail.src } %}

		<article class="postType-{{post.post_type}} post -blog page" id="post-{{post.ID}}">
			<section class="articleContent -articleContentWithSidebar">
				<div class="articleBody postSection postContent">
					<div class="postContentInner -withSidebar">
						<div id="main" class="contentMain">
							<h3>Table of contents</h3>
							<br>
							<div class="tableOfContents">
								{% for article in Post(post.articles) %}
									<a href="{{article.link}}">{{article.title}}</a>
									<br>
								{% endfor %}
							</div>
							<br>
							<hr />

              {% include 'partial/cats-tags.twig' %}

							{% if function('comments_open') %}
								<div id="comments" class="comments">
							    {{ function('comments_template') }}
							  </div>
							{% endif %}
						</div>
						{% include 'partial/sidebar.twig' %}
					</div>
				</div>
			</section>
		</article>
    <script>
      window.__orpheus__ = window.__orpheus__ || {};
      window.__orpheus__.MediaFiles = [
        {% for attachment in attachments %}
          {
      			fileURI: "{{attachment.url}}",
      			caption: "{{attachment.fields.caption}}",
          },
        {% endfor %}
      ];

    </script>

		<!--div id="Annotations"><p class="annotationsLoadingMessage">Annotations loading . . . </p></div-->
	</div><!-- /content-wrapper -->
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
