{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="publications publicationsLayout">
    {% include 'partial/publications-sidebar.twig' %}

    <main class="publicationsContent">
      <div class="book -bookAuthor">
        <div class="bookLeftColumn">
          {% if post.profile_photo %}
            <img class="authorImage" src="{{TimberImage(post.profile_photo)}}" />
          {% else %}
            <img class="authorImage" src="/wp-content/themes/orpheus/static/images/author_default.jpg" />
          {% endif %}
        </div>
        <div class="bookContent">
          <h1 class="h1">
            {% if condensed %}
              {{post.title| excerpt(9)}}
            {% else %}
              {{post.title| excerpt(12)}}
            {% endif %}
          </h1>
          <div class="postMeta">
            <p class="description">
              {{post.description}}
              {{post.content}}
            </p>
          </div>
        </div>
      </div>

      {% if authors_books|length %}
        {% include 'partial/list-horizontal.twig' with { posts: authors_books, horizontal_scroll: true, list_title: "Books by this author", pubs_list: true } %}
      {% endif %}

      {% if authors_curated_articles|length %}
        {% include 'partial/list-horizontal.twig' with { posts: authors_curated_articles, horizontal_scroll: true, list_title: "Articles by this author" } %}
      {% endif %}

      {% if authors_primary_source|length %}
        {% include 'partial/list-horizontal.twig' with { posts: authors_primary_source, horizontal_scroll: true, list_title: "Primary Sources by this author", pubs_list: true } %}
      {% endif %}


      <!--div class="moreTopics">
        <label>Top issues for Greg</label>
        <div class="moreTopicsLinks">
          {% for tag in tags %}
            <a href="{{tag.link}}" class="chsButton -termButton">
              {{tag.title|truncate(5)}}
            </a>
          {% endfor %}
        </div>
      </div-->

    </main>

  </div>
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
