<section class="archiveContactSection">
  <div class="archiveContact">
    <div class="archiveContactMapOuter">
      <div class="br mh300 mw100 mapInput mapboxgl-map" id="map"></div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibHVrZWhvbGxpcyIsImEiOiJ6Rk1vdjc0In0.jQDtXA8wqU_wYi5p1ClCyw';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/lukehollis/cj7dnh4fb11452smw1dj34x04',
          scrollZoom: false,
          boxZoom: false,
          center: [
            -71.118713, 42.3734309
          ],
          zoom: 13
        });
      </script>
    </div>
    <div class="archiveContactDetails">
      <h4 class="jss26 jss41">The Milman Parry Collection of Oral Literature</h4>
      <span class="jss26 jss36 archiveContactDetailsLabel">Email</span>
      <p class="jss26 jss35">
        <a href="mailto:mpc@fas.harvard.edu">mpc@fas.harvard.edu</a>
      </p>
      <span class="jss26 jss36 archiveContactDetailsLabel">Address</span>
      <p class="jss26 jss35">Widener Library, Room C, Harvard University, Cambridge, MA 02138, United States</p>
      <span class="jss26 jss36 archiveContactDetailsLabel">Also see</span>
      <p class="jss26 jss35">
        <a href="https://journal.oraltradition.org">Oral Tradition Journal</a>
      </p>
    </div>
  </div>
</section>
