<div class="dropdownHeaderMenu -authHeaderMenu" role="tooltip">
  <div class="jss88 jss92 jss89" id="menu-list-grow" style="opacity: 1; transform: scale(1, 1) translateZ(0px); transform-origin: center top; transition: opacity 253ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 168ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
    <ul class="jss115 jss116 headerExternalSecondaryNav" role="menu">
      {% if user %}
        {% if is_main_site %}
          <li tabindex="0">
            <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="/saved/">
              Saved
            </a>
          </li>
        {% endif %}
        <li tabindex="-1">
          <a href="https://forms.gle/WC9ZnPC9iyF89RmB6" class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem">
            Help
          </a>
        </li>
        <li tabindex="-1">
          <a href="/wp-login.php?action=logout" class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem">
            Logout {{ user }}
          </a>
        </li>
      {% else %}
        <li tabindex="0">
          <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="/wp-login.php">
            Log in
          </a>
        </li>
        <li tabindex="0">
          <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="/wp-login.php?action=register">
            Sign Up
          </a>
        </li>
        <li tabindex="-1">
          <a href="https://forms.gle/5k98LtqRKtV9NmR26" class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem">
            Help
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
