<div class="booksNav">
  <ul>
    {% if alphabetical_nav %}
      <li>
        <a href="#a_f">A - F</a>
      </li>
      <li>
        <a href="#g_l">G - L</a>
      </li>
      <li>
        <a href="#m_r">M - R</a>
      </li>
      <li>
        <a href="#s_z">S - Z</a>
      </li>
    {% endif %}
    <li>
      <a href="/books/authors">Authors</a>
    </li>
    <li>
      <a href="/books/subjects">Subjects</a>
    </li>
  </ul>
</div>
