<div class="articleByline">
  {% for author in post.terms( {query:{taxonomy:'author', orderby:'name', order: 'ASC'}} ) %}
    <a href="/authors/{{author.slug}}">
      {{author.name}}
    </a>
  {% endfor %}
</div>
