<div class="coverLayout">
  <div class="cover chsCover homeCover mainCover">
    {% if homepage and homepage.thumbnail %}
      <div class="coverBackground" style="background-image: url(&quot;{{homepage.thumbnail.src}}&quot;);"></div>
    {% else %}
      <div class="coverBackground" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_1.jpg&quot;);"></div>
    {% endif %}
    <div class="coverBackgroundGradient"></div>

    <div class="coverContent">
      <p class="overline">The Center for Hellenic Studies</p>
      <h1>{{title}}</h1>
      {% if subtitle %}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {% endif %}
      <a href="/">
        <button class="chsButton coverReadMoreButton">
          <span>Read More</span>
          <i class="mdi mdi-arrow-right"></i>
        </button>
      </a>
    </div>

    {% if cover_caption %}
      <div class="coverCaption">
        <span>{{cover_caption}}</span>
      </div>
    {% endif %}
  </div>


  <div class="coverLayoutRight">

    <div class="posts -verticalList ">
      {% for post in sidebar_posts %}
        {% include "partial/tease-sidebar.twig" %}
      {% endfor %}
    </div>
  </div>

</div>
