<div class="cover chsCover
  {% if is_home or is_main_home %}
    homeCover
  {% endif %}
">
  {% if is_home or is_main_home %}
    {% if homepage and homepage.thumbnail %}
      <div class="coverBackground" style="background-image: url(&quot;{{homepage.thumbnail.src}}&quot;);"></div>
    {% elseif is_newalexandria %}
      <div class="coverBackground coverBackgroundVideo">
        <video autoplay loop muted>
          <source src="/wp-content/themes/orpheus/static/images/archimedes.mp4"
            type="video/mp4">
        </video>
      </div>
      <div class="coverBackgroundScreen"></div>
    {% else %}
      <div class="coverBackground" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_1.jpg&quot;);"></div>
    {% endif %}
  {% else %}
    {% if image %}
      <div class="coverBackground" style="background-image: url(&quot;{{image}}&quot;);"></div>
    {% else %}
      <div class="coverBackground" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_{{random(1, 29)}}.jpg&quot;);"></div>
    {% endif %}
  {% endif %}
  <div class="coverBackgroundGradient"></div>
  <div class="coverContent">
    {% if is_home %}
      <p class="overline">
      </p>
      {% if title %}
        <h1>{{title}}</h1>
      {% else %}
        <h1>Ancient Inscriptions from Israel and Palestine</h1>
      {% endif %}
      {% if subtitle %}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {% else %}
        <h2 class="subtitle">
          Free and accessible inscriptions and their English translations of Israel/Palestine from the Persian period through the Islamic conquest (ca. 500 BCE - 640 CE)
        </h2>
      {% endif %}

      {% if action_link %}
        <a href="{{action_link.href}}">
          <button class="chsButton coverReadMoreButton">
            <span>{{action_link.text}}</span>
            <i class="mdi mdi-arrow-right"></i>
          </button>
        </a>
      {% endif %}

    {% elseif is_main_home %}
      <p class="overline">The Center for Hellenic Studies</p>
      <h1>{{title}}</h1>
      {% if subtitle %}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {% endif %}
      <a href="/">
        <button class="chsButton coverReadMoreButton">
          <span>Read More</span>
          <i class="mdi mdi-arrow-right"></i>
        </button>
      </a>
    {% else %}
      <hr class="titleOverline"></hr>
      <h1>{{title}}</h1>
      {% if subtitle %}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {% endif %}
    {% endif %}

    {% if with_post_meta %}
      <div class="postMeta">
        <div class="postMetaRow">
          {% include 'partial/cover-byline.twig' %}
        </div>
        <div class="postMetaRow">
          {% if post.event_date %}
          {% else %}
          <div class="postDate">
            {{post.date}}
          </div>
          <div class="spacer">
            |
          </div>
          {% endif %}
          <div class="categories">
            {% for cat in post.categories %}
              {% if cat.title != "Uncategorized" %}
                <a class="category" href="/category/{{cat.slug}}">
                  {{cat.title}}</a>{% if not loop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
            {% for cat in post.terms( {query:{taxonomy:'event_type', orderby:'name', order: 'ASC'}} ) %}
              <a class="category -eventType" href="/event_type/{{cat.slug}}">
                {{cat.title}}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if post.event_date %}
          <div class="postMetaRow">
            <div class="postDate -eventDate">
              {{post.event_date|date('j F Y')}}{% if post.event_time %}, {{post.event_time|date('g:i a')}} ET
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if subnav %}
      {% include 'partial/subnav.twig' %}
    {% endif %}

    {% if with_post_meta %}
      <div id="cover_share_links" class="shareLinks" data-html2canvas-ignore="true">
        <div class="postHeadLinks">
          {% if post.pdf %}
            {% set file = TimberImage(post.pdf) %}
            <a href="{{file.src}}">Download&nbsp;&nbsp;<i class="mdi mdi-file-pdf"></i>
            </a>
          {% else %}
            <a href="#download" onclick="window.downloadPDF()">
              <i class="mdi mdi-file-pdf-outline"></i>
            </a>
          {% endif %}
          {% if post.media %}
            {% set media_file = TimberImage(post.media) %}
            <a href="{{media_file}}">Media&nbsp;&nbsp;<i class="mdi mdi-image"></i>
            </a>
          {% endif %}
          <a href="#comments">
            <i class="mdi mdi-comment-outline"></i>
          </a>
          <a href="https://twitter.com/intent/tweet?text={{post.title}} at {{post.link}}" target="_blank" rel="noopener noreferrer">
            <i class="mdi mdi-twitter"></i>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank" rel="noopener noreferrer">
            <i class="mdi mdi-facebook"></i>
          </a>
          <a href="mailto:?subject={{post.title}}&body={{post.link}}" target="_blank" rel="noopener noreferrer">
            <i class="mdi mdi-email"></i>
          </a>
        </div>
      </div>
    {% endif %}
  </div>


  {% if cover_caption %}
    <div class="coverCaption">
      <span>{{cover_caption}}</span>
    </div>
  {% endif %}
</div>
