
<div class="bookDescription shortDescription">
  <p>
    {{description|striptags|truncate(60)}}
    <br>
    {% if description|length > 240 %} <button class="toggleDescriptionButton">Read more</button> {% endif %}
  </p>
</div>

<div class="bookDescription longDescription">
  {{description}}
  <br>
</div>
