<section class="homepage-feature flex ">
  <a href="/">
    <div class="featured-image"></div>
  </a>
  <div class="feature-text">
    <a href="/">
      <h3>
        Black Classicists | A Mural Mosaic Installation at the Center for Hellenic Studies
      </h3>
    </a>
    <div class="postMeta">
      <span class="postDate">
        {{post.date('j F Y') }}
        Feb 2018 - March 2021
      </span>

      <span class="byline">
        {% if post.author_first_name %}
          {{post.author_first_name}}
          {{post.author_last_name}}
        {% else %}
          {{post.author}}
        {% endif %}
        Michele Valerie Ronnick
      </span>
      <span class="description">
        Celebrating the important role of African Americans in the field of Classics and provides an opportunity to reflect . . .
      </span>
    </div>

    <a href="/">
      <button class="chsButton -accentButton">
        Read More
      </button>
    </a>
  </div>

</section>
