<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512.003 512.003" style="enable-background:new 0 0 512.003 512.003;" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M509.189,49.336c-14.217-14.691-33.724-23.118-53.52-23.118c-21.817,0-41.732,9.753-56.075,27.461
				c-6.002,7.41-11.984,17.407-16.402,30.662H128.807c-4.418-13.254-10.4-23.251-16.403-30.662
				C98.061,35.971,78.148,26.218,56.332,26.218c-19.795,0-39.302,8.427-53.518,23.118c-2.791,2.886-3.588,7.16-2.021,10.856
				c1.569,3.697,5.194,6.098,9.208,6.098c23.081,0,38.384,5.124,46.784,15.665c0.607,0.763,1.174,1.563,1.713,2.386H47.809
				c-13.789,0-25.007,11.217-25.007,25.003c0,13.785,11.218,25,25.007,25H64.86c-2.207,20.014-7.473,43.031-12.886,66.673
				c-15.69,68.528-33.474,146.2,8.229,200.431c29.507,38.371,83.959,58.72,166.405,62.155l18.513,19.134
				c1.884,1.947,4.478,3.047,7.187,3.047s5.303-1.1,7.186-3.046l18.285-18.896c86.238-2.465,143.03-22.714,173.532-61.852
				c42.275-54.243,24.436-132.201,8.697-200.982c-5.41-23.639-10.672-46.651-12.875-66.663h17.041
				c13.789,0,25.007-11.216,25.007-25.002c0-13.785-11.218-25.001-25.007-25.001H453.5c0.54-0.822,1.105-1.622,1.713-2.385
				c8.401-10.542,23.707-15.666,46.789-15.666c4.015,0,7.641-2.401,9.207-6.098C512.776,56.496,511.981,52.221,509.189,49.336z
				 M371.906,330.967c-6.048,7.697-13.542,14.236-22.529,19.648c-0.828,0.344-1.621,0.799-2.353,1.377
				c-7.294,4.116-15.524,7.528-24.718,10.248V134.344h53.917c0.188,14.941,2.028,31.977,6.157,51.42
				C392.645,234.103,400.731,294.29,371.906,330.967z M378.311,104.341c-0.523,3.191-0.949,6.533-1.287,10.003H134.977
				c-0.338-3.47-0.764-6.812-1.287-10.003H378.311z M302.307,134.344V366.81c-9.725,1.654-20.28,2.729-31.711,3.218l-8.289-8.566
				V134.344H302.307z M242.307,134.344V361.46l-7.92,8.185c-11.639-0.772-22.318-2.186-32.08-4.242V134.344H242.307z
				 M129.621,185.764c4.13-19.443,5.968-36.479,6.156-51.42h46.529v225.482c-6.544-2.342-12.537-5.086-18.002-8.227
				c-0.446-0.307-0.909-0.576-1.388-0.802c-9.379-5.6-17.137-12.422-23.341-20.497C111.349,293.563,119.429,233.76,129.621,185.764z
				 M47.809,114.344c-2.715,0-5.007-2.291-5.007-5.002s2.292-5.001,5.007-5.001h17.378c0.402,3.024,0.64,6.253,0.719,9.701
				c0.002,0.101,0.004,0.201,0.006,0.302H47.809z M116.347,420.877c-17.048-8.279-30.43-18.799-40.29-31.621
				c-35.959-46.761-19.292-119.553-4.588-183.775c13.094-57.186,24.402-106.573,0.958-135.99
				c-7.915-9.934-19.06-16.618-33.735-20.168c5.681-2.032,11.649-3.105,17.641-3.105c15.664,0,30.058,7.12,40.529,20.049
				c19.256,23.775,23.943,64.738,13.197,115.343c-11.085,52.197-19.55,117.654,13.657,160.876
				c5.846,7.608,12.727,14.278,20.66,20.044c-4.541,8.33-5.712,17.116-4.892,25.202c-10.211-4.221-18.463-9.289-24.951-15.328
				c-4.043-3.763-10.369-3.536-14.133,0.507c-3.763,4.043-3.536,10.37,0.507,14.133c7.749,7.213,17.232,13.248,28.681,18.223
				C124.265,409.255,119.506,414.452,116.347,420.877z M273.219,443.949c-2.633,0.057-5.137,1.15-6.969,3.043l-13.943,14.41
				l-14.119-14.593c-1.8-1.86-4.252-2.95-6.84-3.04c-38.742-1.342-70.733-6.385-96.349-15.237
				c5.208-8.811,16.752-13.245,21.124-13.173c3.769,0.057,7.285-2.023,9.033-5.386c1.748-3.361,1.445-7.423-0.78-10.488
				c-0.11-0.153-9.114-13.687-2.761-26.655c20.217,9.841,45.506,15.474,76.254,17.054c2.888,0.143,5.691-0.958,7.699-3.033
				l6.738-6.963l7.012,7.247c1.955,2.02,4.666,3.13,7.48,3.042c34.015-1,61.684-6.713,83.481-17.305
				c6.313,12.956-2.669,26.461-2.78,26.613c-0.007,0.01-0.012,0.021-0.018,0.031c-0.241,0.335-0.458,0.688-0.655,1.05
				c-0.053,0.096-0.1,0.192-0.148,0.289c-0.153,0.303-0.291,0.613-0.414,0.932c-0.028,0.075-0.063,0.147-0.089,0.224
				c-0.138,0.387-0.251,0.783-0.341,1.187c-0.016,0.072-0.026,0.145-0.041,0.219c-0.068,0.345-0.119,0.694-0.15,1.048
				c-0.008,0.087-0.018,0.173-0.023,0.259c-0.051,0.814-0.004,1.643,0.153,2.475c0.022,0.12,0.05,0.238,0.077,0.358
				c0.03,0.135,0.051,0.27,0.088,0.404c0.057,0.214,0.127,0.421,0.197,0.627c0.014,0.042,0.025,0.085,0.04,0.127
				c0.144,0.405,0.316,0.793,0.507,1.168c0.015,0.029,0.023,0.061,0.039,0.091c0.014,0.025,0.031,0.047,0.044,0.072
				c0.202,0.381,0.425,0.747,0.671,1.094c0.021,0.029,0.043,0.058,0.064,0.087c0.52,0.716,1.127,1.353,1.805,1.9
				c0.027,0.022,0.053,0.045,0.08,0.065c0.338,0.268,0.69,0.511,1.059,0.731c0.026,0.017,0.055,0.032,0.082,0.048
				c0.771,0.454,1.6,0.807,2.469,1.041l0.001,0.001c0.429,0.115,0.866,0.2,1.31,0.258c0.033,0.005,0.066,0.009,0.1,0.013
				c0.391,0.047,0.784,0.079,1.182,0.079c0.037,0,0.074-0.007,0.109-0.008c0.02,0,0.039,0.004,0.059,0.004
				c4.347-0.101,15.907,4.352,21.12,13.17C349.653,437.931,315.248,443.033,273.219,443.949z M464.174,104.341
				c2.715,0,5.007,2.291,5.007,5.003c0,2.71-2.292,5-5.007,5h-18.09c0.007-0.408,0.011-0.821,0.024-1.225
				c0.01-0.316,0.017-0.634,0.031-0.945c0.021-0.542,0.054-1.072,0.084-1.606c0.125-2.162,0.313-4.243,0.578-6.227H464.174z
				 M439.573,69.491c-23.445,29.415-12.145,78.797,0.939,135.977c14.745,64.44,31.458,137.479-4.977,184.227
				c-9.838,12.623-23.138,22.992-40.008,31.177c-2.941-5.98-7.268-10.898-12.147-14.766c10.407-4.77,19.136-10.456,26.35-17.171
				c4.043-3.764,4.27-10.091,0.506-14.134c-3.764-4.042-10.09-4.27-14.133-0.506c-6.262,5.828-14.157,10.758-23.883,14.89
				c1.116-8.459,0.1-17.778-4.686-26.592c7.678-5.568,14.371-11.982,20.097-19.268c33.95-43.198,25.482-109.115,14.313-161.716
				c-10.747-50.607-6.064-91.57,13.191-115.343c10.472-12.929,24.866-20.049,40.533-20.049c5.992,0,11.96,1.073,17.642,3.105
				C458.635,52.873,447.489,59.559,439.573,69.491z"/>
			<path d="M100.75,352.72c-0.004-0.008-0.08-0.193-0.084-0.202c-2.065-5.121-7.889-7.6-13.013-5.535
				c-5.122,2.064-7.601,7.891-5.536,13.014l0.151,0.368c1.594,3.853,5.318,6.181,9.245,6.181c1.273,0,2.568-0.245,3.818-0.762
				C100.436,363.672,102.862,357.823,100.75,352.72z"/>
			<path d="M409.954,354.451c-0.005,0.011-0.047,0.108-0.051,0.12c-2.131,5.087,0.278,10.896,5.362,13.036
				c1.257,0.529,2.562,0.779,3.847,0.779c3.914,0,7.643-2.319,9.262-6.143l0.147-0.354c2.064-5.122-0.423-10.93-5.545-12.994
				C417.85,346.832,412.018,349.328,409.954,354.451z"/>
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
