<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
<g>
	<g>
		<path d="M396.902,167.147c-18.982-25.451-44.936-45.529-74.146-57.595l27.906-90.114c1.41-4.552,0.573-9.503-2.254-13.338
			c-2.828-3.836-7.31-6.1-12.074-6.1H175.668c-4.765,0-9.247,2.264-12.074,6.1c-2.828,3.835-3.665,8.786-2.255,13.338l27.907,90.117
			c-29.211,12.064-55.164,32.143-74.145,57.594c-22.745,30.495-34.767,66.775-34.767,104.918c0,11.977,2.542,26.525,7.568,43.563
			c0.12,0.518,0.268,1.023,0.439,1.518c13.656,45.353,44.735,108.165,92.89,187.628c2.718,4.485,7.583,7.226,12.828,7.226h123.886
			c5.245,0,10.11-2.74,12.828-7.227c66.949-110.484,100.895-188.778,100.895-232.707
			C431.668,233.924,419.647,197.643,396.902,167.147z M110.334,272.067c0-63.978,40.976-119.836,101.962-138.994
			c7.881-2.476,12.277-10.857,9.833-18.748l-26.113-84.324h119.97l-26.113,84.322c-2.444,7.892,1.952,16.272,9.833,18.748
			c42.492,13.348,75.264,44.515,91.236,83.83h-54.608c-8.284,0-15,6.716-15,15v65.333h-50.333v-65.333c0-8.284-6.716-15-15-15
			h-80.333c-8.284,0-15,6.716-15,15v65.333h-46.73C111.558,287.506,110.334,279.076,110.334,272.067z M309.475,482.001H202.53
			c-37.55-62.558-64.407-115.243-79.125-154.767h52.264c8.284,0,15-6.716,15-15v-65.333h50.332v65.333c0,8.284,6.716,15,15,15
			h80.333c8.284,0,15-6.716,15-15v-65.333h48.179c1.415,8.198,2.155,16.608,2.155,25.166
			C401.668,308.477,368.979,382.858,309.475,482.001z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
