<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998;" xml:space="preserve">
<g>
	<g>
		<path d="M502.48,321.038c-0.064-0.154-0.132-0.307-0.202-0.458c-16.595-36.079-43.651-50.682-54.591-55.307
			c-11.332-4.893-19.835-6.697-23.483-7.469c-0.075-0.028-0.154-0.049-0.229-0.077c-0.226-0.083-0.456-0.157-0.688-0.229
			c-0.121-0.038-0.236-0.085-0.359-0.12c-0.085-0.024-0.17-0.036-0.255-0.059c-0.301-0.081-0.607-0.15-0.916-0.212
			c-0.198-0.04-0.396-0.078-0.593-0.109c-0.136-0.022-0.268-0.057-0.405-0.075c-0.184-0.024-0.365-0.029-0.548-0.046
			c-0.158-0.015-0.314-0.03-0.472-0.04c-0.362-0.023-0.721-0.031-1.079-0.029c-0.109,0.001-0.218-0.001-0.326,0.003
			c-0.139,0.004-0.28-0.004-0.418,0.004c-0.042-0.004-0.085-0.008-0.129-0.013c-3.973-0.385-12.218-1.182-23.626-0.014
			c-16.759,1.376-41.036,10.066-59.15,30.373c-0.109,0.122-0.217,0.247-0.322,0.373c-8.346,9.999-14.646,22.162-18.249,35.219
			c-0.959,2.75-1.061,5.168-1.091,6.556c-0.001,0.006-0.002,0.011-0.003,0.017c-1.092,3.141-1.178,5.979-0.909,8.214
			c-0.021,0.193-0.049,0.384-0.072,0.576c-0.22,1.789-0.554,4.512-0.081,7.801c-0.103,6.001,1.333,11.339,2.513,15.729
			c0.335,1.246,0.651,2.423,0.892,3.467c0.286,1.245,0.76,2.509,1.352,3.642c0.053,0.259,0.112,0.517,0.179,0.773
			c0.719,2.771,1.942,4.814,2.748,6.059c0.547,1.937,1.478,3.746,2.741,5.318l0.797,0.992c0.457,0.951,1.205,2.406,2.389,3.954
			c3.7,4.976,7.855,8.822,11.526,12.22l1.466,1.361c0.438,0.41,0.9,0.792,1.384,1.146c4.768,3.489,9.563,5.754,13.794,7.753
			c0.707,0.335,1.407,0.665,2.094,0.996c0.591,0.285,1.2,0.531,1.822,0.736c4.44,1.464,8.699,2.088,12.121,2.591
			c1.402,0.205,2.727,0.4,3.828,0.616c0.855,0.168,1.723,0.262,2.594,0.28c0.406,0.008,0.81,0.012,1.213,0.012
			c26.439,0,45.404-17.706,49.917-34.652c2.131-8.005-2.63-16.223-10.636-18.354c-8.003-2.129-16.223,2.63-18.355,10.636
			c-1.148,4.313-8.284,12.159-20.438,12.366c-1.289-0.223-2.544-0.408-3.77-0.587c-2.295-0.336-4.48-0.657-6.31-1.166
			c-0.419-0.199-0.84-0.398-1.265-0.599c-3.033-1.433-5.913-2.794-8.265-4.395c-0.271-0.251-0.543-0.504-0.817-0.757
			c-2.816-2.607-5.487-5.079-7.497-7.666c-0.473-0.991-1.256-2.545-2.554-4.215c0-0.001-0.001-0.002-0.001-0.003
			c-0.592-1.595-1.316-2.877-1.893-3.802c-0.36-1.238-0.805-2.461-1.335-3.663c-0.246-0.975-0.501-1.923-0.75-2.85
			c-0.76-2.828-1.622-6.032-1.474-7.737c0.118-1.349,0.052-2.706-0.194-4.033c0.014-0.105,0.027-0.21,0.04-0.315
			c0.157-1.283,0.374-3.042,0.314-5.158c0.134-0.548,0.254-1.108,0.364-1.684c0.367-1.615,0.466-3.034,0.501-4.049
			c2.442-8.932,6.669-17.194,12.245-23.933c12.268-13.641,28.738-19.444,39.15-20.267c0.123-0.01,0.246-0.021,0.369-0.034
			c8.504-0.882,14.559-0.297,17.812,0.017c0.559,0.054,1.049,0.1,1.517,0.139c0.558,0.135,1.086,0.249,1.562,0.349
			c3.23,0.684,9.242,1.956,17.864,5.684c0.041,0.018,0.083,0.036,0.124,0.053c7.646,3.224,26.713,13.565,38.954,39.999
			c5.225,12.54,7.637,26.887,6.977,41.512c-0.011,0.239-0.016,0.478-0.015,0.717c-0.037,0.175-0.079,0.349-0.118,0.524
			c-0.246,1.108-0.605,2.727-0.768,4.646c-0.163,1.298-0.287,2.622-0.377,4.031c-0.001,0.024-0.003,0.048-0.004,0.072
			c-0.854,2.535-1.338,4.894-1.769,6.997c-0.3,1.466-0.711,3.473-1.046,4.103c-0.546,1.027-0.971,2.115-1.265,3.241
			c-1.769,6.756-6.062,13.718-10.606,21.09l-0.644,1.045c-1.714,2.106-3.292,4.279-4.792,6.603c-0.229,0.251-0.7,0.711-1.057,1.06
			c-1.026,1.003-2.287,2.236-3.576,3.836c-0.634,0.736-1.258,1.489-1.867,2.253l-1.751,1.447c-1.682,1.334-3.044,2.695-4.146,3.796
			c-0.622,0.622-1.328,1.327-1.676,1.594c-0.067,0.052-0.134,0.103-0.201,0.156c-6.697,5.307-14.996,10.205-26.091,15.399
			c-8.323,3.283-18.052,5.648-30.541,7.424c-10.972,0.87-22.545-0.387-32.557-1.795c-10.502-2.881-21.549-6.314-31.662-11.677
			c-11.737-7.116-20.586-13.8-27.791-20.996c-9.397-10.452-16.098-19.64-21.072-28.892c-0.049-0.092-0.099-0.183-0.15-0.273
			c-0.415-0.736-0.896-1.901-1.405-3.134c-0.666-1.614-1.418-3.438-2.441-5.395l-1.608-3.225l-1.032-3.413
			c-0.595-2.091-1.307-3.889-1.936-5.48c-0.407-1.028-0.864-2.185-1.024-2.818c-0.625-3.298-1.394-6.611-2.289-9.865
			c-2.025-12.59-3.548-23.88-2.215-34.224c0.108-0.843,0.146-1.693,0.11-2.542c-0.1-2.396,0.437-5.244,1.059-8.543
			c0.494-2.621,1.054-5.591,1.358-8.783c0.015-0.153,0.027-0.307,0.037-0.461c0.098-0.364,0.35-1.087,0.54-1.632
			c0.457-1.315,1.011-2.906,1.449-4.787c0.087-0.286,0.163-0.563,0.241-0.841c0.051-0.012,0.113-0.029,0.158-0.039
			c0.602-0.124,1.193-0.283,1.775-0.479c0.29-0.094,1.169-0.262,1.811-0.385c2.399-0.458,5.648-1.079,9.188-2.838
			c1.616-0.719,3.504-1.381,5.498-2.081c3.955-1.387,8.396-2.944,12.928-5.631c13.042-5.653,23.797-14.003,35.465-23.512
			c0.449-0.366,0.877-0.758,1.281-1.173c2.001-2.059,4.107-4.035,6.256-5.874c0.111-0.095,0.22-0.191,0.329-0.29
			c2.283-2.071,3.997-4.233,5.375-5.971c0.7-0.882,1.361-1.716,1.842-2.209c0.065-0.066,0.129-0.134,0.192-0.201l3.408-3.624
			c0.586-0.623,1.117-1.294,1.588-2.008l2.776-4.202c0.064-0.096,0.126-0.194,0.188-0.292c0.458-0.731,1.173-1.659,1.93-2.643
			c1.238-1.609,2.637-3.428,3.975-5.666c6.837-11.072,12.418-23.618,17.558-39.469c0.076-0.233,0.146-0.468,0.21-0.705
			c3.371-12.444,5.094-25.969,5.422-42.561c0.005-0.259,0.003-0.519-0.005-0.778c-0.479-14.955-3.778-29.233-6.941-41.227
			c-0.158-0.6-0.353-1.189-0.584-1.765c-4.52-11.255-10.254-24.362-18.51-36.237c-0.158-0.227-0.322-0.449-0.492-0.667
			c-9.532-12.21-18.231-21.247-27.376-28.441c-0.219-0.172-0.442-0.338-0.67-0.498c-12.14-8.5-22.564-14.354-32.792-18.414
			c-2.183-0.897-4.199-1.439-5.826-1.877c-0.772-0.208-1.733-0.466-2.116-0.621c-0.129-0.052-0.258-0.103-0.388-0.151l-3.822-1.425
			c-1.07-0.399-2.182-0.674-3.315-0.821c-1.06-0.137-2.121-0.308-3.155-0.507c-0.246-0.047-0.488-0.088-0.736-0.123
			c-0.275-0.043-1.065-0.264-1.641-0.426c-1.762-0.494-4.174-1.17-7.07-1.406c-0.194-0.016-0.389-0.028-0.585-0.036
			c-2.047-0.087-3.982-0.295-5.916-0.638c-0.729-0.128-1.466-0.204-2.207-0.224l-2.249-0.063
			c-9.988-0.287-20.302-0.584-30.825,2.016c-4.185,0.405-7.697,1.575-10.593,2.539c-1.199,0.4-2.435,0.812-3.254,0.993
			c-2.669,0.381-5.272,1.284-7.913,2.745c-0.69,0.333-1.311,0.612-1.888,0.849c-0.281,0.116-0.558,0.24-0.831,0.372
			c-0.248,0.089-0.501,0.162-0.751,0.24c-1.602,0.505-3.941,1.242-6.481,2.773c-16.766,8.792-31.33,20.954-42.145,35.199
			c-0.101,0.133-0.199,0.267-0.295,0.403c-22.948,32.413-22.064,63.139-20.598,74.928c1.426,12.253,4.114,20.519,5.27,24.066
			c0.014,0.085,0.036,0.171,0.051,0.256c0.033,0.19,0.072,0.378,0.113,0.568c0.026,0.121,0.043,0.242,0.072,0.363
			c0.025,0.106,0.064,0.206,0.091,0.311c0.077,0.291,0.162,0.581,0.257,0.87c0.067,0.204,0.138,0.404,0.213,0.604
			c0.055,0.145,0.095,0.293,0.155,0.438c0.057,0.138,0.127,0.266,0.188,0.4c0.072,0.162,0.147,0.322,0.225,0.48
			c0.147,0.302,0.304,0.597,0.469,0.885c0.066,0.115,0.132,0.229,0.201,0.341c0.086,0.142,0.163,0.292,0.254,0.431
			c0.018,0.039,0.036,0.078,0.054,0.119c1.654,3.632,5.085,11.17,11.802,20.466c9.566,13.824,29.228,30.503,55.879,36.04
			c0.161,0.033,0.322,0.064,0.484,0.092c5.035,0.874,10.2,1.31,15.41,1.31c8.069,0,16.247-1.044,24.21-3.116
			c2.859-0.544,5.003-1.663,6.219-2.329c0.006-0.003,0.012-0.004,0.017-0.006c3.272-0.627,5.775-1.976,7.576-3.325
			c0.179-0.078,0.359-0.15,0.537-0.225c1.659-0.704,4.183-1.774,6.793-3.826c5.268-2.924,9.186-6.854,12.409-10.085
			c0.901-0.904,1.751-1.757,2.528-2.482c0.927-0.866,1.74-1.846,2.42-2.916c0.011-0.017,0.021-0.032,0.029-0.044
			c0.203-0.18,0.402-0.365,0.595-0.555c2.037-2.005,3.194-4.082,3.87-5.404c1.404-1.441,2.506-3.152,3.237-5.031l0.464-1.192
			c0.595-0.873,1.482-2.248,2.23-4.051c2.464-5.7,3.718-11.231,4.825-16.117l0.44-1.927c0.134-0.581,0.234-1.17,0.298-1.763
			c0.637-5.863,0.204-11.137-0.179-15.791c-0.064-0.787-0.128-1.565-0.185-2.332c-0.048-0.658-0.14-1.311-0.275-1.957
			c-0.953-4.578-2.542-8.576-3.817-11.79c-0.523-1.318-1.017-2.563-1.38-3.626c-0.282-0.825-0.634-1.624-1.055-2.387
			c-13.054-23.717-38.367-31.594-55.561-26.964c-7.999,2.155-12.737,10.386-10.583,18.385c2.155,8,10.386,12.734,18.385,10.583
			c4.313-1.16,14.678,1.097,20.932,11.518c0.452,1.23,0.92,2.411,1.378,3.564c0.855,2.155,1.67,4.205,2.145,6.046
			c0.037,0.469,0.076,0.942,0.115,1.418c0.274,3.338,0.534,6.507,0.322,9.339l-0.241,1.056c-0.851,3.757-1.658,7.317-2.899,10.358
			c-0.618,0.901-1.567,2.349-2.362,4.297c-0.004,0.006-0.009,0.012-0.014,0.017c-1.084,1.311-1.833,2.58-2.345,3.542
			c-0.889,0.927-1.723,1.921-2.499,2.978c-0.712,0.692-1.396,1.379-2.066,2.05c-2.078,2.085-4.434,4.447-5.998,5.178
			c-1.222,0.571-2.358,1.303-3.381,2.175c-0.097,0.04-0.194,0.08-0.291,0.122c-1.193,0.505-2.829,1.199-4.636,2.313
			c-0.549,0.16-1.102,0.338-1.664,0.536c-1.568,0.488-2.836,1.106-3.727,1.579c-8.956,2.354-18.226,2.826-26.853,1.366
			c-17.954-3.807-31.212-15.167-37.126-23.77c-0.07-0.103-0.143-0.205-0.215-0.305c-5.02-6.926-7.541-12.463-8.895-15.438
			c-0.233-0.513-0.439-0.963-0.642-1.388c-0.163-0.559-0.328-1.072-0.474-1.519c-1.023-3.14-2.926-8.984-4.007-18.308
			c-0.005-0.047-0.011-0.094-0.017-0.14c-1.033-8.231-1.613-29.909,15.162-53.733c8.246-10.795,19.465-20.057,32.459-26.795
			c0.214-0.111,0.425-0.227,0.633-0.348c0.167-0.054,0.335-0.104,0.503-0.157c1.084-0.341,2.665-0.839,4.41-1.66
			c1.169-0.492,2.371-1.042,3.659-1.677c0.031-0.015,0.063-0.031,0.095-0.047c2.622-0.528,4.905-1.289,6.942-1.967
			c1.42-0.473,3.365-1.121,4.083-1.147c1.158-0.042,2.308-0.217,3.425-0.523c6.738-1.845,14.909-1.609,23.563-1.36l1.241,0.035
			c2.671,0.429,5.339,0.708,8.107,0.847c0.331,0.073,0.964,0.25,1.444,0.385c1.383,0.388,3.082,0.864,5.117,1.181
			c0.95,0.179,1.912,0.342,2.877,0.489l2.129,0.793c1.995,0.79,3.853,1.289,5.357,1.694c0.851,0.229,1.815,0.488,2.221,0.657
			c0.082,0.034,0.165,0.068,0.249,0.101c7.934,3.14,16.324,7.875,26.378,14.89c7.006,5.564,13.916,12.807,21.696,22.736
			c6.238,9.065,10.937,19.719,14.725,29.095c2.753,10.519,5.3,21.789,5.715,33.259c-0.293,13.727-1.657,24.732-4.283,34.564
			c-4.359,13.378-8.965,23.773-14.483,32.689c-0.052,0.083-0.103,0.167-0.152,0.252c-0.436,0.736-1.207,1.738-2.022,2.798
			c-1.066,1.386-2.271,2.951-3.455,4.817l-1.984,3.002l-2.445,2.6c-1.51,1.56-2.711,3.075-3.773,4.415
			c-0.686,0.866-1.46,1.841-1.931,2.302c-2.539,2.183-5.024,4.505-7.401,6.915c-9.893,8.047-18.912,15.01-28.53,19.026
			c-0.786,0.328-1.542,0.722-2.261,1.178c-2.023,1.285-4.76,2.245-7.928,3.355c-2.516,0.882-5.367,1.882-8.281,3.213
			c-0.139,0.064-0.277,0.129-0.414,0.198c-0.365,0.097-1.121,0.241-1.691,0.35c-1.365,0.261-3.018,0.577-4.863,1.136
			c-0.293,0.068-0.572,0.141-0.854,0.214c-0.031-0.033-0.073-0.074-0.1-0.104c-0.409-0.462-0.845-0.897-1.308-1.305
			c-0.227-0.204-0.812-0.881-1.239-1.376c-1.598-1.851-3.761-4.356-7.058-6.546c-1.433-1.04-2.952-2.345-4.555-3.723
			c-3.177-2.729-6.745-5.794-11.334-8.374c-11.426-8.479-24.033-13.616-38.097-18.962c-0.544-0.207-1.1-0.382-1.665-0.524
			c-2.745-0.691-5.512-1.526-8.226-2.48c-0.127-0.045-0.254-0.088-0.383-0.129c-2.939-0.946-5.669-1.35-7.864-1.675
			c-1.114-0.164-2.165-0.321-2.833-0.491c-0.096-0.024-0.192-0.048-0.288-0.071l-4.839-1.135c-0.824-0.193-1.664-0.316-2.509-0.368
			l-5.027-0.308c-0.12-0.007-0.241-0.013-0.361-0.018c-0.859-0.032-2.018-0.186-3.245-0.349c-2.019-0.268-4.301-0.572-6.918-0.608
			c-13.02-0.39-26.668,1.055-42.95,4.528c-0.241,0.051-0.48,0.108-0.717,0.171c-12.477,3.309-25.05,8.579-39.567,16.585
			c-0.225,0.124-0.446,0.253-0.664,0.389c-12.69,7.872-23.418,17.879-32.239,26.629c-0.44,0.437-0.854,0.9-1.236,1.389
			c-7.49,9.544-15.977,21.065-22.127,34.147c-0.117,0.25-0.227,0.502-0.331,0.758c-5.804,14.348-9.281,26.401-10.942,37.934
			c-0.039,0.275-0.072,0.552-0.096,0.829c-1.292,14.748-1.151,26.699,0.447,37.593c0.314,2.355,0.856,4.383,1.294,6.02
			c0.205,0.768,0.461,1.725,0.518,2.13c0.018,0.13,0.038,0.259,0.06,0.388l0.675,4.023c0.192,1.143,0.515,2.259,0.963,3.327
			c0.389,0.926,0.766,1.915,1.119,2.939c0.084,0.245,0.173,0.481,0.27,0.722c0.1,0.258,0.301,1.046,0.449,1.621
			c0.454,1.777,1.076,4.212,2.328,6.847c0.08,0.169,0.164,0.337,0.251,0.503c0.946,1.813,1.731,3.59,2.399,5.433
			c0.254,0.701,0.559,1.382,0.915,2.037l1.077,1.993c4.744,8.788,9.642,17.861,17.149,25.666c2.443,3.424,5.214,5.882,7.499,7.909
			c0.945,0.838,1.919,1.702,2.486,2.322c1.665,2.12,3.75,3.922,6.338,5.482c0.603,0.409,1.168,0.816,1.719,1.238
			c0.224,0.172,0.453,0.337,0.686,0.496c0.203,0.171,0.393,0.355,0.587,0.533c1.239,1.136,3.048,2.794,5.644,4.228
			c16.01,10.13,33.825,16.662,51.56,18.9c0.163,0.021,0.326,0.038,0.49,0.053c3.951,0.367,7.768,0.536,11.449,0.536
			c33.152,0,55.216-13.715,63.746-20.161c9.896-7.361,15.71-13.823,18.204-16.598c0.297-0.24,0.587-0.494,0.869-0.76
			c0.056-0.053,0.103-0.111,0.158-0.165c0.192-0.186,0.375-0.385,0.559-0.583c0.196-0.212,0.388-0.427,0.569-0.648
			c0.085-0.104,0.182-0.194,0.265-0.301c0.099-0.127,0.181-0.261,0.275-0.391c0.102-0.14,0.202-0.281,0.299-0.424
			c0.196-0.288,0.379-0.58,0.553-0.876c0.062-0.106,0.123-0.213,0.182-0.321c0.089-0.161,0.191-0.318,0.273-0.482
			c0.024-0.034,0.049-0.069,0.075-0.105c2.32-3.249,7.135-9.991,11.829-20.462c7.188-15.199,11.799-40.565,3.27-66.41
			c-0.052-0.157-0.106-0.313-0.163-0.468c-4.489-12.227-11.869-23.757-21.367-33.396c-1.902-2.211-3.947-3.51-5.135-4.232
			c-0.004-0.003-0.008-0.007-0.012-0.01c-2.179-2.517-4.593-4.01-6.661-4.895c-0.156-0.115-0.308-0.234-0.461-0.35
			c-1.441-1.087-3.634-2.741-6.725-3.977c-5.16-3.095-10.515-4.523-14.917-5.698c-1.236-0.33-2.403-0.641-3.422-0.952
			c-1.212-0.37-2.544-0.59-3.813-0.645c-0.248-0.083-0.498-0.16-0.75-0.229c-2.761-0.765-5.142-0.728-6.624-0.654
			c-1.949-0.495-3.98-0.594-5.97-0.288l-1.275,0.196c-1.053-0.079-2.686-0.16-4.619,0.094c-6.131,0.712-11.516,2.378-16.272,3.85
			c-0.663,0.205-1.319,0.408-1.97,0.606c-0.579,0.176-1.146,0.387-1.7,0.631c-5.404,2.387-9.763,5.406-13.608,8.07
			c-0.642,0.444-1.276,0.884-1.905,1.312c-0.543,0.37-1.062,0.775-1.552,1.213c-3.488,3.115-6.159,6.49-8.304,9.202
			c-0.879,1.111-1.709,2.16-2.448,3.005c-0.573,0.656-1.089,1.361-1.54,2.108c-14.011,23.164-8.174,49.026,4.432,61.598
			c5.866,5.849,15.362,5.837,21.213-0.029c5.85-5.866,5.837-15.363-0.029-21.213c-3.162-3.153-6.39-13.258-0.494-23.886
			c0.837-1.003,1.624-1.997,2.392-2.967c1.44-1.821,2.812-3.554,4.171-4.888c0.379-0.261,0.761-0.525,1.145-0.791
			c2.757-1.91,5.375-3.723,7.94-4.962c0.373-0.115,0.748-0.23,1.124-0.347c3.65-1.129,7.109-2.2,10.336-2.642
			c1.094,0.084,2.825,0.183,4.915-0.105c0.009,0.001,0.019,0.002,0.028,0.004c1.667,0.28,3.131,0.295,4.212,0.258
			c1.256,0.309,2.542,0.536,3.853,0.678c0.953,0.27,1.886,0.519,2.8,0.762c2.843,0.758,6.065,1.618,7.484,2.609
			c1.107,0.774,2.313,1.394,3.582,1.843c0.082,0.063,0.164,0.126,0.247,0.188c1.034,0.779,2.452,1.849,4.319,2.857
			c0.408,0.39,0.832,0.774,1.278,1.158c1.209,1.119,2.38,1.91,3.238,2.447c6.517,6.576,11.563,14.369,14.616,22.576
			c5.68,17.447,2.471,34.611-2.022,44.037c-0.054,0.112-0.106,0.225-0.157,0.339c-3.488,7.813-7.022,12.763-8.922,15.422
			c-0.326,0.457-0.612,0.859-0.879,1.246c-0.404,0.423-0.768,0.824-1.084,1.176c-2.207,2.456-6.314,7.026-13.848,12.624
			c-0.036,0.027-0.072,0.054-0.108,0.082c-6.618,5.011-25.116,16.356-54.124,13.737c-13.46-1.738-27.089-6.823-39.432-14.712
			c-0.203-0.129-0.409-0.254-0.617-0.374c-0.132-0.119-0.261-0.242-0.393-0.362c-0.839-0.77-2.066-1.894-3.653-2.997
			c-1.058-0.799-2.168-1.585-3.305-2.341c-0.015-0.01-0.029-0.02-0.044-0.029c-1.768-2.007-3.569-3.604-5.174-5.029
			c-1.121-0.994-2.655-2.355-3.037-2.965c-0.616-0.984-1.344-1.894-2.17-2.71c-4.96-4.906-8.842-12.097-12.953-19.71l-0.595-1.101
			c-0.963-2.532-2.057-4.985-3.322-7.456c-0.102-0.321-0.264-0.954-0.386-1.434c-0.356-1.393-0.793-3.104-1.539-5.027
			c-0.324-0.926-0.663-1.841-1.013-2.735l-0.376-2.243c-0.313-2.112-0.809-3.964-1.209-5.462c-0.216-0.809-0.485-1.816-0.541-2.246
			c-0.012-0.096-0.025-0.192-0.04-0.288c-1.249-8.449-1.343-18.082-0.295-30.287c1.319-8.864,4.136-18.474,8.842-30.165
			c4.727-9.928,11.606-19.325,17.833-27.295c7.747-7.656,16.244-15.507,25.945-21.58c12.02-6.604,22.234-10.927,32.076-13.575
			c13.755-2.912,25.063-4.121,35.553-3.8c0.104,0.003,0.209,0.005,0.313,0.006c0.848,0.008,2.099,0.174,3.423,0.35
			c1.729,0.23,3.683,0.489,5.887,0.582l3.598,0.22l3.475,0.814c2.103,0.527,4.012,0.81,5.701,1.06
			c1.098,0.163,2.333,0.346,2.962,0.524c3.196,1.116,6.452,2.107,9.697,2.95c11.908,4.539,22.44,8.864,30.732,15.194
			c0.678,0.517,1.398,0.976,2.154,1.371c2.125,1.11,4.323,2.999,6.869,5.186c2.022,1.737,4.314,3.706,6.925,5.565
			c0.124,0.088,0.25,0.175,0.376,0.259c0.267,0.267,0.772,0.853,1.152,1.293c0.906,1.049,2.003,2.32,3.405,3.635
			c0.207,0.222,0.411,0.429,0.616,0.639c-0.013,0.043-0.028,0.1-0.04,0.138c-0.198,0.592-0.357,1.193-0.48,1.806
			c-0.063,0.298-0.356,1.141-0.57,1.756c-0.802,2.305-1.888,5.427-2.133,9.37c-0.185,1.761-0.556,3.728-0.947,5.804
			c-0.776,4.116-1.647,8.738-1.587,14.002c-1.628,14.13,0.228,27.62,2.632,42.477c0.092,0.569,0.217,1.132,0.374,1.687
			c0.78,2.757,1.44,5.575,1.964,8.374c0.025,0.135,0.052,0.269,0.081,0.403c0.65,3.017,1.665,5.582,2.48,7.642
			c0.413,1.045,0.804,2.032,0.987,2.689c0.029,0.102,0.058,0.203,0.088,0.303l1.439,4.762c0.245,0.81,0.558,1.597,0.935,2.354
			l2.248,4.508c0.054,0.108,0.109,0.216,0.166,0.323c0.4,0.756,0.846,1.835,1.317,2.978c0.776,1.882,1.654,4.01,2.931,6.294
			c6.18,11.469,14.255,22.574,25.4,34.933c0.163,0.181,0.331,0.358,0.503,0.531c9.095,9.147,19.944,17.401,34.144,25.979
			c0.221,0.133,0.445,0.261,0.673,0.383c13.164,7.052,27.192,11.339,39.18,14.603c0.599,0.163,1.206,0.289,1.82,0.376
			c9.06,1.293,19.378,2.515,30.091,2.515c3.484,0,7.011-0.129,10.549-0.427c0.276-0.023,0.552-0.054,0.827-0.093
			c15.336-2.153,27.51-5.168,38.31-9.487c0.258-0.103,0.514-0.214,0.766-0.331c13.427-6.257,23.711-12.358,32.354-19.193
			c1.868-1.443,3.345-2.919,4.536-4.109c0.565-0.564,1.268-1.267,1.591-1.52c0.11-0.086,0.218-0.172,0.325-0.261l3.145-2.6
			c0.884-0.73,1.681-1.559,2.376-2.472c0.637-0.836,1.309-1.662,1.996-2.453c0.167-0.193,0.327-0.386,0.484-0.587
			c0.175-0.217,0.761-0.79,1.188-1.208c1.312-1.282,3.107-3.037,4.76-5.431c0.11-0.159,0.217-0.32,0.32-0.483
			c1.092-1.719,2.24-3.29,3.509-4.801c0.476-0.566,0.909-1.167,1.296-1.797l1.172-1.903c5.247-8.51,10.663-17.295,13.672-27.712
			c1.744-3.827,2.486-7.455,3.099-10.446c0.254-1.236,0.514-2.51,0.766-3.308c1.006-2.503,1.526-5.213,1.581-8.238
			c0.054-0.741,0.123-1.423,0.21-2.076c0.039-0.289,0.069-0.579,0.09-0.87c0.046-0.263,0.111-0.52,0.169-0.778
			c0.363-1.639,0.895-4.034,0.84-6.997C512.657,356.221,509.407,337.526,502.48,321.038z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
