<div class="dropdownHeaderMenu -languageHeaderMenu" role="tooltip">
  <div class="jss88 jss92 jss89" id="menu-list-grow" style="opacity: 1; transform: scale(1, 1) translateZ(0px); transform-origin: center top; transition: opacity 253ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 168ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
    <ul class="jss115 jss116 headerExternalSecondaryNav" role="menu">
        {% if function('pll_current_language') == 'el'%}
          <li tabindex="0">
            <a class="languageOption jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="/">
              <div class="languageSelectImage -us"></div>
              English
            </a>
          </li>
        {% else %}
          <li tabindex="0">
            <a class="languageOption jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="/el">
              <div class="languageSelectImage -greek"></div>
              Ελληνικά
            </a>
          </li>
        {% endif %}
    </ul>
  </div>
</div>
