<div class="
  horizontalListOuter
  {% if category %}
    -horizontalList-category
    -horizontalList_{{category}}
    {% if category != "art-archaeology" and category != "classics" %}
      -hidden
    {% endif %}
  {% endif %}
  {% if volume %}
    -horizontalList-volume
    -horizontalList_{{volume}}
    {% if volume != "volume_8" %}
      -hidden
    {% endif %}
  {% endif %}
">
  {% if list_title %}
  <div class="postsHeader">
    <h3>{{list_title}}</h3>
    {% if more_link %}
      <a class="postsHeaderViewAll" href="{{more_link}}">
        View All
      </a>
    {% endif %}
  </div>
  {% endif %}
  <div class="posts -horizontalList {% if horizontal_scroll %}-horizontalScroll{% endif %} {% if wrap_list  %}-wrapList{% endif %}">
    {% for post in posts %}
      {% if pubs_list %}
      	{% include "partial/tease-book.twig" %}
      {% else %}
      	{% include "partial/tease.twig" %}
      {% endif %}
    {% endfor %}
  </div>

  {% if more_from %}
    <br >
    <div class="moreFrom -accent">
    	<a href="/category/{{category}}">
    		More from
          {% if category == 'art-archaeology' %}
            Art and Archaeology
          {% elseif category == 'epigraphy-papyrology' %}
            Epigraphy and Papyrology
          {% elseif category == 'history' %}
            History
          {% elseif category == 'language-literature' %}
            Language and Literature
          {% elseif category == 'mythology-religion' %}
            Mythology and Religion
          {% elseif category == 'philosophy' %}
            Philosophy and Science
          {% else %}
            All
          {% endif %}
    	</a>
    </div>
  {% endif %}
</div>
