<div>
  <div class="postsHeader -publicationsHeader">
    <h3>Keep Reading</h3>
    <a class="postsHeaderViewAll" href="/publications">
      View All
    </a>
  </div>
  <div class="posts -horizontalList -publicationsList">
	{% for post in publications %}
		{% include "partial/tease.twig" with { publication: true } %}
	{% endfor %}
  </div>
</div>
