<aside id="main_sidebar_secondary" class="mainSidebar -secondary" data-html2canvas-ignore="true">
  <!--div class="sidebarInner">
    <h4 class="overline sidebarTitle">
      <i class="mdi mdi-instagram"></i>&nbsp;On the web
    </h4>
    <div class="sidebarInstagram">
      <div class="featureImage instagramFeature">
        <a href="https://www.instagram.com/centerforhellenicstudies/">
          <div class="instagramImage" style="background-image:url('/wp-content/themes/orpheus/static/images/example-instagram.jpg')"></div>
        </a>
        <label>A summer afternoon outside the CHS Greece in Nafplion. Photo by
          <a href="https://www.instagram.com/centerforhellenicstudies/">@ChristosGiannapolis</a>.</label>
      </div>
    </div>
  </div-->

  {% include 'partial/sidebar-email-signup.twig' %}

  <div class="sidebarInner">
    <h4 class="overline sidebarTitle">
      Explore
    </h4>

    <div class="siteFeature">
      <a href="https://classical-inquiries.chs.harvard.edu">
        <div class="featureImage siteFeatureImage" style="background-image:url('/wp-content/themes/orpheus/static/images/example_background_5.jpg')"></div>
        <div class="siteFeatureTitle -classicalInquiries">
          <!-- {% include 'partial/icon-lyre.twig' %} -->
          <h5>Classical Inquiries</h5>
        </div>
      </a>
    </div>
    <div class="siteFeature">
      <a href="https://kosmossociety.chs.harvard.edu">
        <div class="featureImage siteFeatureImage" style="background-image:url('/wp-content/themes/orpheus/static/images/hildreth-meiere-center-for-hellenic-studies-left-panel-pillars-of-hercules-banner.jpg')"></div>
        <div class="siteFeatureTitle -kosmosSociety">
          <!-- {% include 'partial/icon-triskelion.twig' %} -->
          <h5>Kosmos Society</h5>
        </div>
      </a>
    </div>
    <div class="siteFeature">
      <a href="https://research-bulletin.chs.harvard.edu">
        <div class="featureImage siteFeatureImage" style="background-image:url('/wp-content/themes/orpheus/static/images/research-bulletin.jpg')"></div>
        <div class="siteFeatureTitle -researchBulletin">
          <!-- {% include 'partial/icon-column.twig' %} -->
          <h5>Research Bulletin</h5>
        </div>
      </a>
    </div>
    <div class="siteFeature">
      <a href="https://www.youtube.com/channel/UC4CZOzGtFzZe2pcONCNT15w">
        <div class="featureImage siteFeatureImage" style="background-image:url('/wp-content/themes/orpheus/static/images/youtube.jpg')"></div>
        <div class="siteFeatureTitle -researchBulletin">
          <!-- {% include 'partial/icon-column.twig' %} -->
          <h5>YouTube</h5>
        </div>
      </a>
    </div>

  </div>
</aside>
