<footer class="mainSiteFooter" data-html2canvas-ignore="true">
  <div class="footerLeft">
      <a href="//chs.harvard.edu">
        <img class="logo" src='/wp-content/themes/orpheus/static/images/logoHorizontalFullColor.svg' />
      </a>
  </div>
  <div class="footerMiddle">
    <ul class="footerMenu">
      {% for item in menu.items %}
        <li class="{{ item.classes|join(' ') }}">
          <a target="{{ item.target }}" href="{{ item.link }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="footerRight footerLinks">
    <div class="footerRow footerLegal">
      <a href="https://gdpr.harvard.edu/eeaprivacydisclosures">EU/EEA Privacy Disclosures</a>
      <a href="/cookie-policy">Cookie Policy</a>
      {% if not is_milmanparry and not is_newalexandria %}
        <a href="https://greece.chs.harvard.edu/privacy-notice">CHS Greece Privacy Notice</a>
      {% endif %}
    </div>
</footer>
