<aside id="main_sidebar" class="mainSidebar" data-html2canvas-ignore="true">

  {% if homepage.featured_event|length %}
    {% for post in Post(homepage.featured_event) %}
      <div class="sidebarInner happeningNow">
        <h4 class="overline sidebarTitle">
          Spotlight
        </h4>
        <div class="eventFeature">

          {% if post.thumbnail.src %}
            <a href="{{post.link}}">
              <img class="eventFeatureImage" src="{{post.thumbnail.src}}" />
            </a>
          {% endif %}
          <div class="eventFeatureText">
            <a href="{{post.link}}">
              <h3>
                {{post.title}}
              </h3>
            </a>
            {% if post.event_date %}
              <span class="postDate">
                {{post.event_date|date('j F Y')}}{% if post.event_time %}, {{post.event_time|date('g:i a')}} ET
                {% endif %}
              </span>
            {% endif %}
            <p>
              {% if post.excerpt %}
                {{post.excerpt|excerpt(30)}}
              {% elseif post.preview %}
                {{post.preview.length(10).read_more(false) | excerpt(10) |replace({ 'Abstract' : ''})}}
              {% else %}
                {{post.content|excerpt(10)|replace({ 'Abstract' : ''})}}
              {% endif %}
            </p>
            {% if post.join_link %}
              <a class="watchNowLink" href="{{post.join_link}}">
                <button class="chsButton -accentButton -miniButton -withIcon">
                  <i class="mdi mdi-play"></i>
                    {{homepage.featured_event_button_text|default("Watch Now")}}
                </button>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="sidebarSignupBorder designBorder"></div>
      </div>
    {% endfor %}
  {% else %}
    <div class="sidebarEventPlaceholder"></div>
  {% endif %}

  <div class="sidebarInner">
    <h4 class="overline sidebarTitle">
      {{sidebar_lead|default("Latest News")}}
    </h4>
    <div class="sidebarPosts">
      {% for post in sidebar_posts %}
        {% include "partial/tease-sidebar.twig" %}
      {% endfor %}
    </div>

    <a class="moreNews" href="/category/news">
      <button class="chsButton -accentButton -miniButton">
        More News
      </button>
    </a>

    {% include 'partial/sidebar-social-links.twig' %}
  </div>

</aside>
