
<ul>
  <li>
    <h4>
      <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
    </h4>
  </li>

  {% for child in item.children %}
    <li>
      <a href="{{child.link}}">
        {{child.title}}
      </a>
      {% for grandchild in child.children %}
        <a class="grandchild" role="menuitem" href="{{grandchild.link}}">
          {{grandchild.title}}
        </a>
      {% endfor %}
    </li>
  {% endfor %}

</ul>
