<div class="postHeadLinks" data-html2canvas-ignore="true">
  {% if post.pdf %}
    {% set file = TimberImage(post.pdf) %}
    <a href="{{file.src}}">Download&nbsp;&nbsp;<i class="mdi mdi-file-pdf"></i></a>
  {% endif %}
  {% if post.media %}
    {% set media_file = TimberImage(post.media) %}
    <a href="{{media_file}}">Media&nbsp;&nbsp;<i class="mdi mdi-image"></i></a>
  {% endif %}
    <a href="https://twitter.com/intent/tweet?text={{post.title}} at {{post.link}}" target="_blank" rel="noopener noreferrer"><i class="mdi mdi-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<i class="mdi mdi-facebook"></i></a>
    <a href="mailto:?subject={{post.title}}&body={{post.link}}" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<i class="mdi mdi-email"></i></a>
</div>
