<div class="postMeta">
  {% if post.terms({query:{taxonomy:'author', orderby:'name', order: 'ASC'}})|join(',')|length %}
    {% include 'partial/byline-teaser.twig' %}
  {% endif %}
  {% if post.event_date %}
    <span class="postDate">
      {{post.event_date|date('j F Y')}}{% if post.event_time %}, {{post.event_time|date('g:i a')}} ET
      {% endif %}
    </span>
  {% elseif no_date != true %}
    | <span class="postDate">
      {{post.date('j F Y') }}
    </span>
  {% endif %}
</div>
