<aside id="main_sidebar" class="mainSidebar publicationsSidebar" data-html2canvas-ignore="true">
  <div class="publicationsSidebarContent">
    <ul>
      <li>
        <a href="/publications/">
          <i class="mdi mdi-home"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/saved/">
          <i class="mdi mdi-bookmark-outline"></i>
          Saved
        </a>
      </li>
      <hr>
      <li>
        <a href="/books">
          <i class="mdi mdi-book"></i>
          Books
        </a>
      </li>
      <li>
        <a href="/curated-articles">
          <i class="mdi mdi-file-document"></i>
          Articles
        </a>
      </li>
      <li>
        <a href="/primary-source/">
          <i class="mdi mdi-alpha"></i>
          Primary Texts
        </a>
      </li>
      <hr>
      <li>
        <a href="/classics">
          Classics@ Journal
        </a>
      </li>
      <li>
        <a href="https://classical-inquiries.chs.harvard.edu/">
          Classical Inquiries
        </a>
      </li>
      <li>
        <a href="https://research-bulletin.chs.harvard.edu/">
          Research Bulletin
        </a>
      </li>
      <li>
        <a href="/publications-digital-humanities-projects/">
          Digital Humanities
        </a>
      </li>
    </ul>

  </div>
</aside>
