<div class="relatedPosts">
  {% if related_posts %}
    {{related_posts}}
  {% elseif random_posts %}
  	{% include 'partial/list-horizontal.twig' with { posts: random_posts, list_title: "Continue reading..." } %}
  {% endif %}
</div>
