<h4 class="overline sidebarTitle">
  Connect
</h4>
<div class="socialLinks">
  <ul>
    {# <li>
      <a href="https://www.instagram.com/centerforhellenicstudies/">
        <i class="mdi mdi-instagram"></i>
      </a>
    </li> #}
    <li>
      <a href="/">
        <i class="mdi mdi-twitter"></i>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="mdi mdi-youtube"></i>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="mdi mdi-facebook"></i>
      </a>
    </li>
  </ul>
</div>
