<article class="
	tease -teaseBook tease-{{post.post_type}}
	"
	id="tease-{{post.ID}}"
>
	<div class="tease-body">
		{% if post.thumbnail and post.thumbnail.src %}
			<a href="/{{post.type}}/{{post.slug}}" class="teaseImageOuter">
				<div
					class="teaseImage"
					style="background-image:url('{{post.thumbnail.src}}')"
				>
				</div>
			</a>
		{% else %}
				<a href="/{{post.type}}/{{post.slug}}" class="teaseImageOuter">
	  			<div class="teaseImage" style="background-image: url('/wp-content/themes/orpheus/static/images/cover_default.jpg)'" >
					</div>
				</a>
		{% endif %}
		<h2 class="h2">
			<a href="/{{post.type}}/{{post.slug}}">
				{{post.title| excerpt(12)}}
			</a>
		</h2>

	  <div class="postMeta">
	    <span class="byline">
	      {% for author in post.terms( {query:{taxonomy:'author', orderby:'name', order: 'ASC'}} ) %}
	        <a href="/authors/{{author.slug}}">
	          {{author.name}}
	        </a>
	      {% endfor %}
	    </span>
		</div>

		<div class="teaseBookActionButtons">
			<div class="teaseBookActionButtonsLeft">
				<a href="/{{post.type}}/{{post.slug}}" class="chsButton -actionButton">
					<i class="mdi mdi-eye-outline"></i>
					&nbsp;
					{{random(63, 1860)|number_format}}
				</a>
				<a href="/{{post.type}}/{{post.slug}}" class="chsButton -actionButton">
					<i class="mdi mdi-comment-outline"></i>
					&nbsp;
					{{random(3, 99)}}
				</a>
			</div>
			<div class="teaseBookActionButtonsRight">
				<a href="/{{post.type}}/{{post.slug}}" class="chsButton -actionButton -bookButton">
					<i class="mdi mdi-bookmark-outline"></i>
					<i class="mdi mdi-bookmark"></i>
				</a>
			</div>
		</div>
	</div>
</article>
