<article class="
	tease tease-{{post.post_type}}
	{% if publication %}
		-teaseBook
	{% endif %}
	{% if condensed %}
		-teaseCondensed
	{% endif %}
	{% if not post.thumbnail %}
		-teaseNoImage
	{% endif %}
	" id="tease-{{post.ID}}">
  <div class="tease-body">

    {% if not condensed %}
      {% if post.thumbnail %}
			<a href="{% if post.external_link %}{{post.external_link}}{% else %}{{post.link}}{% endif %}" class="teaseImageOuter">
	      {% if post.thumbnail.src('chs-custom-thumbnail') %}
	          <div class="teaseImage" style="background-image:url('{{post.thumbnail.src('chs-custom-thumbnail')}}')"></div>
					{% else %}
	          <div class="teaseImage" style="background-image:url('{{post.thumbnail.src}}')"></div>
					{% endif %}
        </a>
			{% elseif default_images %}
        <a href="{% if post.external_link %}{{post.external_link}}{% else %}{{post.link}}{% endif %}" class="teaseImageOuter">
          <div class="teaseImage" style="background-image:url('/wp-content/themes/orpheus/static/images/example_background_{{random(1, 29)}}.jpg)')"></div>
        </a>
			{% endif %}
    {% endif %}


    {% if with_categories %}
			{% include 'partial/categories-teaser.twig' %}
		{% endif %}

    <h2 class="h2">
      <a href="{% if post.external_link %}{{post.external_link}}{% else %}{{post.link}}{% endif %}">
        {% if post.homepage_title %}
					{{post.homepage_title}}
				{% elseif condensed %}
          {{post.title| excerpt(9)}}
        {% else %}
          {{post.title| excerpt(12)}}
        {% endif %}
      </a>
    </h2>

		{% if with_meta %}
	    {% include 'partial/post-meta-teaser.twig' %}
		{% endif %}

    <p>
      {% if post.excerpt %}
        {{post.excerpt|excerpt(80)}}
      {% elseif post.preview %}
        {{post.preview.length(20).read_more(false) | excerpt(20) |replace({ 'Abstract' : ''})}}
      {% else %}
        {{post.content|excerpt(20)|replace({ 'Abstract' : ''})}}
      {% endif %}
    </p>

  </div>
</article>
