#Annotations {
  position: relative;
  width: 30vw;
}

.annotationThread {
  position: absolute;
  width: 90%;
  left: 0;
  background: #fdfdfd;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 4px;
  overflow:hidden;
}

.annotationThread:after {
  pointer-events: none;
  content: " ";
  position: absolute;
  right: 0;
  bottom: -81px;
  left: 0;
  display: block;
  height: 5rem;
  background-image: linear-gradient(to bottom,#fff, rgba(255,255,255,0));
}

.annotationThread.annotationThreadShort:after {
  /* height: 0; */
}
.annotationThread.annotationThreadShort .annotations:after {
  height: 0;
}
.annotationThread.annotationThreadShort .annotation {
  padding-bottom: 0;
}

.annotations {
  max-height: 13rem;
  position:relative;
}

.annotations:after {
  pointer-events: none;
  content: " ";
  position: absolute;
  right: 0;
  bottom: -48px;
  left: 0;
  display: block;
  height: 8rem;
  background-image: linear-gradient(to bottom,rgba(255,255,255,0),#fdfdfd 60%);
}

.annotationThread.annotationThreadOpen {
  overflow: visible;
}

.annotationThreadOpen .annotations {
  max-height: none;
}

.annotationThreadOpen .annotations:after {
  height: 0;
  display: none;
}

.readMoreToggle {
  font-size: 12px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.8;
  padding: 10px 10px 10px 0;
  position: relative;
  z-index: 100;
}

.readMoreToggle:hover {
  opacity: 1;
}

.annotation {
  padding-bottom: 2rem;
}

.annotationUpper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.annotationUser {
  display: flex;
}

.avatarIcon {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid #eee;
}

.annotationUser .name {
  font-size: 14px;
  margin-left: 10px;
  color: #999;
}

.revisions {
  padding: 0;
  margin: 0;
}

.revisionsActiveLabel {
  font-size: 12px;
  margin-left: 10px;
  color: #999;
}

.revisionsToggle {
  margin-left: 10px;
  color: #999;
}

.annotationText {
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 14px;
  color: #777;
}

.annotationText p {
  color: #777;
  font-size: 14px;
  margin: 10px 0;
}

.annotationMarker {
  position: relative;
  font-size: 32px;
  text-decoration: none;
  color: var(--primary-color);
  position: absolute;
  left: -5rem;
  top: 0;
}

.contentMain a.annotationMarker {
  text-decoration: none;
}

.annotationActions {
  display: flex;
  padding-bottom: 1rem;
}

.annotationAction {
  padding: 10px 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #666;
}

.annotationAction i {
  margin-right: 5px;
  color: #666;
}

.annotationAction:hover {
  color: var(--primary-color);
}

.annotationAction:hover i {
  color: var(--primary-color);
}

.annotationAction.replyToggle {
  background: var(--primary-color);
  color: #fff;
  border-radius: 3px;
}

.annotationAction.replyToggle i {
  color: #fff;
}

.annotationCreateTooltip {
  background: #eee;
  border-radius: 4px;
  padding: 10px 14px;
  position: absolute;
  inset: auto auto 0px 0px;
  border: 1px solid #ccc;
  left: -80px;
  transition: all 100ms ease-in-out;
}

.annotationCreateTooltip:hover {
  background: #e6e6e6;
}

.annotationCreateTooltip i {
  color: #666;
  font-size: 24px;
}

.annotationCreateTooltip .caret {
  position: absolute;
  left: -8px;
  top: 25px;
}

.annotationCreateTooltip .caret:after {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-shadow: #eee 1px 1px 1px -1px;
  transform: rotate(45deg) translate(-6px, -6px);
  background: #eee;
  height: 14px;
  width: 14px;
  display: block;
  content: "";
}

.annotationCreateTooltip:hover .caret:after {
  transition: all 100ms ease-in-out;
  background: #e6e6e6;
}

.annotationThread.annotationCreate {
  z-index: 201;
  overflow: visible;
}

.annotationCreate .annotations {
  overflow: visible;
  max-height: none;
}

.annotationCreate .annotationText {
  min-height: 8rem;
}

.annotationCreate .annotations:after {
  height: 0;
}

.annotationText .DraftEditor-root {
  color: #777;
  font-size: 14px;
  margin: 10px 0;
}

.annotationThread.annotationReply {
  position: relative;
  width: 100%;
  left: 0;
  background: transparent;
  border: none;
  border-left: 3px solid #eee;
  padding: 0;
  padding-left: 14px;
  border-radius: 0px;
  overflow: visible;
}

.annotationThread.annotationReply:after {
  height: 0;
}

.annotation.annotation--reply {
  padding-left: 14px;
  margin-top: 1rem;
}
