:root {
  --primary-color: #ff960e;
  --secondary-color: #ff960e;
}

footer {
  background: #232f3c;
}

.footerLegal a {
  color: rgba(255, 255, 255, 0.5);
}


.home header .headerLogo img,
header.-dark .headerLogo img,
header .headerLogo img {
  filter: none;
  height: 4rem;
  margin-top: 3rem;
}

header.-dark.headroom--not-top .headerLogo img {
  display: none;
}

.archive section.introSection {
  padding: 0 0 0px 0;
  position: relative;
	overflow: visible;
}

.recentNews {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  text-align: left;
}

.newsContainer {
  width: 360px;
  background-image: url('/wp-content/themes/orpheus/static/images/ilexNewsBackground.png');
  margin-top: -3rem;
  position: relative;
  text-align: left;
  padding: 40px 30px;
}

.aboutTitle {
  margin-bottom: 30px;
}

.newsTitle {
  color: #fff;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
}

.newsTitleLink {
  color: #fff;
  border-bottom: 1px solid #fff !important;
}

.projectAbout {
  position: relative;
  margin: 60px auto 0;
  width: 90%;
  max-width: 1100px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.aboutColumnLeft {
  text-align: left;
  margin-top: 40px;
  margin-right: 50px;
  max-width: 600px;
}

.aboutColumnRight {
  width: 50%;
  height: 421px;
}

.aboutColumnRight {
  padding-left: 0px;
}

#home .projectAbout .introText {
  margin-top: 30px;
}

#home .projectAbout .introText p {
  padding: 0;
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.7em;
}

.aboutHomeImage {
  width: 100%;
  height: 100%;
  background-image: url('/wp-content/themes/orpheus/static/images/ilexAboutHome.png');
  background-size: cover;
}

/*
Series section
*/
.archive section.seriesSection {
  padding: 90px 0 0 0;
  position: relative;
  z-index: 3;
	overflow: visible;
}

.seriesIntroContainer {
  position: relative;
  z-index: 3;
  max-width: 880px;
  padding: 2rem 3rem;
  width: 86%;
  margin: 0 auto;
  background: #ff960e;
  margin-bottom: -70px;
  display: flex;
}

.seriesTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.seriesTitle .aboutTitle,
.newsContainer .aboutTitle {
  color: #fff;
  margin-bottom: 0px;
  white-space: nowrap;
  padding-right: 10px;
}

.seriesDesc {
  display: flex;
  text-align: left;
  padding: 0 60px;
  align-items: center;
}

.seriesDesc p {
  color: #fff;
}

.archive section.mainSection.-ilexPubsBackground {
  background-image: url('/wp-content/themes/orpheus/static/images/ilexPubsBackground.png');
  background-size: cover;
  position: relative;
  z-index: 2;
}

.tease.-teaseBook .teaseImage, .tease.-teaseBook .teaseImageOuter {
  border: 1px solid #ddd;
}

.tease.-teaseBook .h2, .tease.-teaseBook .h2 a {
  color: #fff;
}

.chsCover .coverContent h1 {
  font-size: 42px;
}

.headerMenu {
  padding-top: 120px;
}

.headerMenuColumns {
  display: none;
}

.home .chsCover .coverBackgroundGradient {
  display: none;
}

.pubListItem {
  width: 40%;
  margin: 1rem 2rem;
  min-width: 420px;
}

.pubListItemInfo {
  padding: 0 0 0 60px;
}

.itemInfoTeaser .itemDesc {
  color: #212121;
  font-weight: 300;
  font-size: 18px;
  margin: 20px 0;
}

.itemInfoTeaser .itemSeries {
  font-size: 16px;
  background: #ff960e;
  color: #fff;
  padding: 7px 10px;
}

.itemInfoTeaser .galleryButton {
  margin: 30px 0;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border: 1px solid #fff;
	border-radius: 20px;
	color:#fff;
}

.itemInfoTeaser .galleryButton:hover {
  background: #FF9800;
  border: 1px solid #fff;
}

.itemInfoTeaser .galleryButton:hover .collectionsIcon {
  fill: #fff !important;
}

.itemInfoTeaser .galleryButton .collectionsIcon {
  padding: 0 10px 0 0;
  margin: 0;
}

.itemInfoTeaser .galleryButton .galleryButtonText {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
	color: #666;
	font-weight: bold;
}

.itemInfoTeaser .galleryButton:hover .galleryButtonText {
  color: #fff;
}

.itemTitle {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  margin: 20px 0 10px;
  padding: 0;
}

.itemSubtitle {
  color: #212121;
  font-size: 18px;
  margin: 0 0 20px;
}

.itemAuthor {
  color: #727272;
  font-size: 16px;
  margin: 10px 0;
}

.itemTeaserDetail {
  margin: 15px 0;
  font-size: 14px;
}

.itemImageTeaser {
	min-width: 240px;
	width: 60%;
}

.itemImageTeaser img {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.itemTeaserDetailSeries {
  margin: 30px 0;
}

.itemDetailText {
  color: #727272;
}

.pubLink {
  display: block;
}

.pubLink:hover .itemTitle, .pubLink:hover .itemSubtitle {
  color: #FF9800;
}

@media (max-width: 990px) {
  .pubListItem {
    width: 90%;
    margin: 15px auto;
  }
}

@media (max-width: 660px) {
  .pubListItem {
    display: block;
    padding: 0;
    min-width: 0;
  }

  .itemImageTeaser {
    width: 100%;
    text-align: center;
  }

  .itemImageTeaser img {
    width: 200px;
    margin: 10px auto;
  }

  .pubListItemInfo {
    padding: 0;
  }
}

.publicationsLayout main {
  margin: 0rem auto;
  max-width: 1100px;
  width: 90%;
}

.page.-bookPage .chsCover .coverContent {
  display: none;
}

.publicationsContent {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.chsCover .coverContent p {
	color:  rgba(255, 255, 255, 0.8);
}

.page.-ilexBooksPage .post.-withSidebar .articleContent {
	min-height: 0;
	padding-bottom: 0;
}

.publicationsLayout {
	padding-top: 1rem;
}
