.-chs.-mainSite.home .postsHeader {
  max-width: none;
}

.mainSection .horizontalListOuter {
  width: 100vw;
}

.archive section.mainSection {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: 0;
  position: relative;
}

.mainSection.-fullWidth {
  width: 100%;
}

.mainSection.-withSidebar .sectionContent {
  width: 70vw;
  padding-right: 0vw;
}


.mainHero {
  padding: 0rem 0 2rem;
}

.mainHero a {
  text-decoration: none;
}

.mainHero .heroImage {
  height: 40rem;
  width: 100%;
  border: 1px solid #eee;
}

.featureImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 100ms ease-in-out;
}

.mainHero:hover .featureImage {
  filter:brightness(1.05);
}

.featureImageOuter {
  position: relative;
}

.featureImageGradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(30%, rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, .6));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, .6) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, .6));
  transition: all 100ms ease-in-out;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mainHero:hover .featureImageGradient {
  opacity: 0.9;
}

.mainHero .heroText {
  padding: 3rem 4rem 0;
  margin: -8rem 3rem 0;
  background: #fff;
  position: relative;
}

.mainHero h1 {
  font-size: 2.4rem;
  line-height: 3.3rem;
  max-width: 780px;
  margin: 0rem 0 2rem;
}

.mainHero a h1:hover {
  color: var(--primary-color);
}

.mainHero p {
  font-size: 1.4rem;
  font-family: "Cardo", Times, serif;
  line-height: 2rem;
  max-width: 720px;
}

.mainHero.-layout2 .featureImageGradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(30%, rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, .9));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, .9) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, .9));
}

.mainHero.-layout2 .heroText {
  position: absolute;
  top: 20rem;
  margin: 0 4rem;
  padding: 3rem 0;
  background: transparent;
}

.mainHero.-layout2 h1 {
  color: #fff;
}

.mainHero.-layout2 a h1 {
  color: #fff;
}

.mainHero.-layout2 a:hover h1 {
  color: #fff;
}

.mainHero.-layout2 p {
  color: #fff;
}

.mainHero.-layout3 .featureImageGradient {
  opacity: 0;
}

.mainHero.-layout3 .heroText {
  margin: 0 4rem;
  padding: 2rem 0;
  background: transparent;
}

.mainHero.-layout3 .heroImage {
  margin: 4rem 5% 0;
  width: 84%;
  height: 24rem;
}

.heroFeatures {
  display: flex;
  justify-content: space-around;
  padding: 1rem 4rem 2rem;
  margin: 0 auto;
}

.heroFeature {
  width: 40%;
  min-width: 220px;
}

.heroFeatureImage {
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #eee;
}

.heroFeatureText {
  margin: 2rem 0 0;
}

.heroFeatureText h3 {
  font-size: 1.6rem;
  margin: 0.5rem auto 1rem;
  padding: 0;
}

.heroFeatureText p a {
  font-weight: normal;
}

.heroFeatures.-length1 .heroFeature {
  width: 100%;
  display: flex;

}

.heroFeatures.-length1 .heroFeatureImage {
  width: 14rem;
  margin-right: 2rem;

}

.sidebarInner {
  padding: 0rem 3rem;
}

.sidebarInner.happeningNow {
  padding: 6rem 3rem 4rem;
  height: 40rem;
  overflow: hidden;
}

.happeningNow {
  background: #f6f6f6;
  position: relative;
}

.happeningNow .designBorder {
  bottom: 0;
  top: auto;
}

.happeningNow h4 {
  color: var(--primary-color);
  font-weight: bold;
}

.sidebarEventPlaceholder {
  display: block;
  height: 6rem;
  width: 100%;
}

.overline.sidebarTitle {
  font-size: 12px;
  padding: 1rem 0;
}

.post .sidebarPosts {
  padding-bottom: 2rem;
}

.eventFeatureImage {
  width: 100%;
  max-height: 240px;
  object-fit: contain;
}

.eventFeatureText h3 {
  font-size: 1rem;
  margin: 1rem 0 0.7rem;
  padding: 0;
}

.eventFeatureText p {
  font-size: 14px;
  padding: 0.5rem 0;
  margin: 0;
}

.eventFeatureText p {
  color: #444;
}

.eventFeatureText .postDate {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
}

.watchNowLink {
  display: inline-block;
  margin: 0.3rem 0 0;
}

.chsButton.-miniButton {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
}

.chsButton.-miniButton.-withIcon {
  padding: 8px 16px 8px 10px;
}

.chsButton.-miniButton i::before {
  font-size: 20px;
  margin-right: 10px;
}

.moreNews {
  display: flex;
  justify-content: flex-start;
}

.moreNews .chsButton {
  margin: 0;
}

section.-signUpSection {
  background: #f6f6f6;
  border: 1px solid #eee;
}

.signUpCallToAction {
  margin: 0;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.signUpBackground {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.signUpBackground .background {
  position: absolute;
  right: 18rem;
  width: 42em;
  opacity: 0.1 !important;
}

.signUpBackground .foreground {
  position: absolute;
  top: 5rem;
  right: 16rem;
  width: 22rem;
  z-index: 99;
}

.signUpBackground .middle {
  position: absolute;
  bottom: -1rem;
  right: 6rem;
  width: 20rem;
  z-index: 98;
  opacity: 0.3 !important;
}

.signUpText {
  position: relative;
  padding: 6rem 3rem 3rem 3rem;
  z-index: 100;
  max-width: 720px;
}

.signUpText h3, .signUpText p {
  max-width: 720px;
  width: 100%;
}

.signUpText p {
  font-size: 18px;
  color: #666;
}


.visitSection {
  margin: 0 3rem 3rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitSection iframe {
  height: 20rem;
  width: 30rem;
}

.visitSection .visitSectionText {
  max-width: 720px;
  margin-left: 3rem;
  width: 40vw;
}

.visitSection .visitSectionText p {
  font-size: 18px;
  color: #666;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6rem;
}

.tabs h3 {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-right: 1rem;
  color: #666;
  transition: all 100ms ease-in-out;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.tabs h3:hover  {
  color: var(--primary-color);
  opacity: 1;
}

.tabs h3.-active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.homepageContentFeed .posts {
  margin: 0 6rem;
  padding-right: 3rem;
}

.homepageContentFeed .teaseActionLinks {
  display: none;
}

.homepageContentFeed .-teaseFull {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.homepageContentFeed .moreFromOptions {
  justify-content: flex-start;
  margin-left: 6rem;
}

.sectionBorder {
  top: auto;
  bottom: 0;
}

.instagramFeature .instagramImage {
  height: 18rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.instagramFeature label {
  font-size: 12px;
  margin-top: 1rem;
  color: #666;
}

.siteFeature {
  margin: 1rem 0 2rem;
}

.siteFeatureImage {
  height: 9rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}

.siteFeatureTitle {
  display: flex;
}

.siteFeatureTitle h5 {
  font-size: 18px;
  margin: 0.5rem 0;
  padding: 0;
}

.siteFeatureTitle svg {
  width: 1.1rem;
  height: 1.1rem;
}

.featureBlock {
  margin: 3rem 6rem;
  background: #f6f6f6;
  border: 1px solid #eee;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.featureBlock:hover .featureBlockGradient {
  opacity: 0.9;
}

.featureBlock.-mega {
  width: 100%;
  margin-top: 2rem;
}

.featureBlock.-mega > a {
  display: block;
}

.featureBlock.-mega .featureBlockText {
  padding: 16rem 3rem 3rem 3rem;
}

.featureBlockText {
  position: relative;
  z-index: 10;
}

.featureBlockText h2, .featureBlockText p {
  max-width: 720px;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 10px 0px #000;
}

.featureBlockText p {
  font-size: 18px;
  opacity: 0.95;
}

.featureBlockBackground, .featureBlockGradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.featureBlockGradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), color-stop(30%, rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .3) 30%, rgba(0, 0, 0, .6));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .3) 30%, rgba(0, 0, 0, .6) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .3) 30%, rgba(0, 0, 0, .6));
  transition: all 100ms ease-in-out;
}

.getInvolved {
  margin: 3rem 0;
  width: 100%;
}

.tease.-teaseFull.-teaseHidden {
  display: none;
  visibility: 0;
}
