:root {
  --primary-color: #5c7f80;
  --secondary-color: #445a5b;
}

.footerLeft {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.footerRight {
  min-width: 50rem;
}

footer .logo {
  filter: brightness(0.5);
}

header.-dark.headroom--not-top .headerLogo img {
  filter: brightness(0.2);
}

.home header.headroom--top .headerExternalSiteArchiveTitle {
  display: none;
}

.footerSiteTitle {
  color: #444;
  margin: 1rem 2rem;
  max-width: 25rem;
}
