.subnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
  margin: 0;
  list-style: none;
}

.post ul.subnav li {
  list-style: none;
}

.subnav li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.subnav a {
  color: #aaa;
  text-decoration: underline;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 100ms ease-in-out;
}

.subnav a:hover {
  color: #eee;
}

.subnav a.-active {
  color: #fff;
}

.subnav a.-active:hover {
  color: #fff;
}


.subnav li:first-child a {
  padding-left: 5px;
}


.post.-article .subnav {
  width: 100%;
  justify-content: center;
}

.post.-article .subnav a {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  color: #666;
  text-decoration: none;
}

.post.-article .subnav a.-active {
  color: var(--primary-color);
}

.post.-article .subnav a:hover {
  color: var(--primary-color);
}

.programsNavigation {
  margin: 3rem 0;
  list-style: none;
  color: #222;
}

.programsNavigation > li {
  padding: 0 3rem 0 1rem;
  width: 100%;
}

.programsNavigation a {
  display: block;
  width: 100%;
  color: #222;
  padding: 0.5rem 1rem;
}

.programsNavigation > li > a:hover {
  color: var(--primary-color);
  background: #f6f6f6;
  border-radius: 3px;
}

.programsNavigation > li.-toggled > a {
  color: var(--primary-color);
  background: #f6f6f6;
}

.programsNavigation a.accordionMenuToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programsNavigation i::before {
  font-size: 22px;
}

.accordionMenu {
  list-style: none;
}

.accordionMenu a:hover {
  color: var(--primary-color);
}

.chsCover .coverContent p.dateline {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
}
