@media print {
  header {
    display: none;
  }

  #main_sidebar {
    display: none;
  }

  #cover_share_links {
    display: none;
  }

  .post.-withSidebar .articleContent {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  footer {
    display: none;

  }

  .coverBackground {
    display: none;
  }

  .coverBackgroundGradient {
    display: none;
  }

  .coverContent {
    color: #000;
    opacity: 1;
  }

  .coverContent h1, .coverContent h2, .coverContent p.overline {
    color: #000;
    text-shadow: none;
  }

  .articleContent p, .articleContent .Paragraph {
    color: #000;
  }

  .cover {
    padding: 1rem 2rem;

  }
}
