/**
 * Responsive
 */

@media (max-width: 1300px) {
  .post.-blog .contentMain {
    margin: 0;
    padding-right: 4rem;
  }

  .post.-blog .articleContent figure {
    width: 100%;
  }

  .post.-blog .articleContent figure.is-resized {
    width: auto;
  }

  .archiveLayout main {
    padding: 5em 3em 5em 3em;
    width: 64vw;
  }

  .homeWithSidebar.post.-withSidebar .articleContent {
    padding: 3rem;
  }

  .post.-article .articleContent {
    padding: 3rem;
  }

  .signUpBackground {
    opacity: 0.4;
  }

  .home header .headerMenuItem.-headerAltMenuItem {
    display: none;
  }
}

@media (max-width: 1100px) {
  .posts.-horizontalList {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  .posts.-horizontalList .tease {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    margin: 15px auto;
  }

  .single .cover {
    flex-wrap: wrap;
  }

  .coverShareLinks {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
  }
  .cover .postHeadLinks {
    padding-bottom: 0;
  }

  .tease.h2 {
    text-align: left;
  }
  .-horizontalList.-horizontalScroll .tease:first-child {
    margin: 15px auto;
  }

  .-horizontalList.-horizontalScroll .tease.-teaseBook {
    margin: 15px auto;
  }
}

@media (max-width: 990px) {
  .cover {
    flex-wrap: wrap;
  }

  .coverCaption {
    width: 100%;
    bottom: auto;
    right: auto;
    position: relative;
  }

  .headerMenu {
    overflow-y: scroll;
  }

  .headerMenuColumns ul {
    width: 33%;
  }

  .archiveSidebar {
    display: none;
  }

  .contentMain {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .homeWithSidebar .mainSidebar {
    display: none;
  }

  .homeWithSidebar.post.-withSidebar .articleContent {
    width: 90%;
    margin: 3rem auto;
    padding: 0;
  }

  .post.-blog .contentMain {
    width: 90%;
    margin: 0 auto;
  }

  .archiveLayout main {
    padding: 5em 0;
    width: 90%;
    margin: 0 auto;
  }

  .-teaseFull {
    flex-wrap: wrap;
  }

  .-teaseFull .postText,
  .-teaseFull.-teaseCondensed .postText {
    width: 100%;
  }

  .-teaseFull .teaseImageOuter,
  .-teaseFull.-teaseCondensed .teaseImageOuter {
    width: 100%;
    height: 240px;
    margin: 1em auto;
  }
  .moreFromOptions {
    flex-wrap: wrap;
  }

  .postsHeader {
    flex-wrap: wrap;

  }

  .post.-blog.-withSidebar {
    flex-wrap: wrap;
  }

  .post.-blog .contentMain {
    padding: 0 3rem;
    max-width: none;
  }

  .post.-withSidebar .mainSidebar {
    position: relative;
    padding-right: 0;
    width: 100%;
    margin: 0 ;
    padding: 0rem;
  }

  .post.-withSidebar .mainSidebar .sidebarInner {
    width: 90%;
    margin: 0 auto;
  }
  .post.-withSidebar .mainSidebar .sidebarSignup {
    width: 100%;
    margin: 0 auto;
  }

  .post.-withSidebar .socialLinks {
    padding-bottom: 3rem;
  }

  .post.-blog .contentMain p {
    word-break: break-word;
  }

  .post figcaption {
    width: 60vw;
  }

  .post.-blog .contentMain,
  .post.-informational .contentMain {
    padding: 3rem 0 6rem;
  }

  .tease.-teaseFull.-teaseCondensed {
    flex-wrap: wrap;
  }

  .post.-article .postContentInner.-withSidebar {
    flex-wrap: wrap-reverse;
  }

  .post.-article .contentMain {
    width: 100%;
  }

  .mainSidebar {
    /* width: 100%;
    max-width: 720px;
    margin: 0 auto; */
    display: none;
  }

  .post.-article .mainSidebar {
    width: 100%;
  }

  .mainSidebar .sidebarInner {
    padding: 0;
    margin: 0;
  }

  .mainSidebar .sidebarInner.happeningNow {
    padding: 2rem;
  }

  .post.-article .postContentInner.-withSidebar {
    justify-content: flex-start;
  }

  .articleContent p, .articleContent .Paragraph {
    margin: 1rem 0;
  }

  .-chs .headerExternalNav .headerExternalNavLinkHideOnMobile {
    display: none;
  }

  .home header .headerMenuItem.-headerAltMenuItem.headerExternalNavLinkHideOnMobile {
    display: none;
  }

  .home header.headroom--not-top .headerMenuItem.headerExternalNavLinkHideOnMobile {
    display: none;
  }


  .post.-article .articleH1 {
    width: 100%;
    padding:0;
  }

  .post.-article .articleContent {
    padding: 3rem 0;
    width: 90%;
    margin: 0 auto;
  }

  .archive section.mainSection {
    flex-wrap: wrap;
  }
  .mainSection.-withSidebar .sectionContent {
    width: 100vw;
  }

  .visitSection {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
  }

  .visitSection iframe {
    width: 100%;
    margin-bottom: 2rem;
  }

  .visitSection .visitSectionText {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  .homepageContentFeed .posts,
  .tabs,
  .homepageContentFeed .moreFromOptions,
  .featureBlock {
    width: 90%;
    margin: 0 auto;
  }

  .signUpBackground {
    opacity: 0.2;
  }

  footer {
    padding: 7rem 2rem 2rem;
  }

  .publicationsContent {
    width: 100%;
  }

  .publicationsContent .horizontalListOuter {
    width: 90%;
    margin: 0 auto;
  }
  .moreTopics {
    width: 90%;
    margin: 0 auto;
  }

  .publicationsContent .book {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    justify-content: flex-start;
  }

  .publicationsContent .bookContent {
    width: 100%;
    margin: 0 auto;
    padding: 0rem ​0 1rem 5;
  }

  .publicationsContent .posts.-horizontalList {
    width: 100%;
  }

  .publicationsContent .posts.-horizontalList .tease.tease-book {
    margin: 20px 20px 20px 0;
    padding: 0;
  }

  .publicationsContent .-horizontalList.-horizontalScroll .tease:first-child,
  .publicationsContent .-horizontalList.-horizontalScroll .tease:last-child {
    margin: 20px 20px 20px 0;
    padding: 0;
  }

  .heroFeatures {
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
  }

  .mainHero.-layout2 .heroText {
    margin: 0 auto;
    width: 90%;
    padding: 2rem 5%;
  }

  .post.-informational .articleContent h1, .post.-informational .articleContent h2, .post.-informational .articleContent h3, .post.-informational .articleContent h4, .post.-informational .articleContent h5 {
    margin: 2rem 0;
  }
  .post.-informational .catsTags, .post.-informational hr {
    margin: 2rem 0;
  }
  .-horizontalList.-horizontalScroll .tease.-teaseBook {
    max-width: 270px;
  }
}

@media (max-width: 750px) {
  .post.-withSidebar .mainSidebar .sidebarInner {
    padding: 0;
  }

  .articleContent h1, .single .cover h1, .mainHero h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .articleContent h2 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .articleContent h3 {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }

  .articleContent h4 {
    font-size: 1.4rem;
    line-height: 2.7rem;
  }

  .post.-article .articleH1 {
    text-align: left;
  }

  .articleByline {
    justify-content: flex-start;
    font-size: 1.4rem;
  }

  .postMetaRow .articleByline {
    font-size: 1.4rem;
  }

  .avatarChip {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .postHeadLinks {
    text-align: left;
  }

  .articleContent p, .articleContent .Paragraph, .mainHero p {
    font-size: 1.3rem;
  }

  .page hr.postContentDivider {
    margin: 2rem 0;
  }

  .footerRow {
    flex-wrap: wrap;
  }

  .footerRow a {
    display: inline-block;
  }

  .mainHero .heroText {
    padding: 2rem 2rem 0;
    margin: -6rem 2rem 0;
  }

  .mainSidebar .sidebarInner {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }

  .signUpCallToAction {
    margin: 3rem auto;
    width: 90%;
  }

  .heroFeatures.-length1 .heroFeature {
    flex-wrap: wrap;

  }

  .heroFeatures.-length1 a {
    width: 100%;
    display: block;
  }

  .heroFeatures.-length1 .heroFeatureImage {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
  }

  .heroFeatures.-length2 {
    flex-wrap: wrap;
  }

  .heroFeatures.-length2 .heroFeature {
    width: 100%;
  }

  .signUpBackground .background {
    right: 6rem;
  }
  .signUpBackground .foreground {
    right: 4rem;
  }
  .signUpBackground .middle {
    right: 0rem;
  }

  .footerMiddle {
    display: none;
  }

  .featuredPublication {
    flex-wrap: wrap-reverse;
  }
  .featuredPublicationImage {
    width: 90%;
    margin:0 0 1rem 0;
    max-width: 220px;
    padding: 0;
  }

  .bookLeftColumn {
    width: 90%;
    margin:0 auto;
    max-width: 420px;
  }

  .bookLeftColumn img {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    min-width: 0;
    max-width: none;
  }

  .bookActionButtons a.-bookButton {
    justify-content: center;
  }

  .shareButtonOuter {
    width: 100%;
  }

  .publicationsContent .book {
    width: 90%;
    flex-wrap: wrap;
  }

  .publicationsContent .bookContent {
    padding: 2rem 0 0;
  }

  .posts.-horizontalList {
    justify-content: center;
  }

  .readingContent {
    position: absolute;
    top: 40px;
    left: 20px;
    bottom: 90px;
    right: 20px;
  }

  .readingEnvLoadingContent {
    width: 80vw;
  }

  .bookNavButton {
    display: none;
  }
}

@media (max-width: 560px) {
  .-teaseFull .h2 {
    font-size: 22px;
  }

  .redesignFeedback {
    height: 54px;
    bottom: 14px;
    right: 14px;
  }

  .headerMenuColumns ul {
    width: 100%;
  }

  .post figcaption {
    width: 90vw;
  }

  .redesignFeedback {
    height: 54px;
    bottom: 14px;
    right: 14px;
  }
  .posts.-horizontalList .tease {
    padding: 0;
  }
}


@media (max-height: 40rem) {
  .mainHero .heroImage {
    height: 100vh;
  }
}
